{% import '@OroUI/macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('marello.product.sku.label'|trans, product.sku) }}
            {{ UI.renderProperty('marello.product.names.label'|trans, product.defaultName) }}
            {{ UI.renderProperty('marello.product.status.label'|trans, product.status) }}
            {% if marello_entity_has_attribute(product, 'weight') %}
                {{ UI.renderProperty('marello.product.weight.label'|trans, product.weight) }}
            {% endif %}
            {% if marello_entity_has_attribute(product, 'warranty') %}
                {{ UI.renderProperty('marello.product.warranty.label'|trans, product.warranty) }}
            {% endif %}
            {% if marello_entity_has_attribute(product, 'manufacturingCode') %}
                {{ UI.renderProperty('marello.product.manufacturing_code.label'|trans, product.manufacturingCode) }}
            {% endif %}
            {% if marello_entity_has_attribute(product, 'barcode') %}
                {{ UI.renderProperty('marello.product.barcode.label'|trans, product.barcode) }}
            {% endif %}
        </div>
    </div>
</div>