{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('marello.product.sku.label'|trans, product.sku) }}
            {{ UI.renderProperty('marello.product.name.label'|trans, product.name) }}
            {{ UI.renderProperty('marello.product.status.label'|trans, product.status) }}
            {{ UI.renderProperty('marello.product.weight.label'|trans, product.weight) }}
            {{ UI.renderProperty('marello.product.warranty.label'|trans, product.warranty) }}
            {{ UI.renderProperty('marello.product.manufacturing_code.label'|trans, product.manufacturingCode) }}
        </div>
    </div>
</div>


