{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('marello.product.sku.label'|trans, product.sku) }}
            {{ UI.renderProperty('marello.product.name.label'|trans, product.name) }}
            {{ UI.renderProperty('marello.product.status.label'|trans, product.status) }}
            {% set productChannels = '' %}
            {% set channelViewGranted = resource_granted('marello_saleschannel_update') %}
            {% for channel in product.channels %}
                {% if productChannels is empty %}
                    {%- set productChannels -%}
                        {%- if channelViewGranted -%}
                        <a href="{{ path('marello_sales_saleschannel_update', {'id': channel.id}) }}">
                            {{ channel.name }}
                        </a>
                        {%- else -%}
                            {{ channel.name }}
                        {%- endif -%}
                    {%- endset -%}
                {% else %}
                    {%- set productChannels -%}
                        {%- if channelViewGranted -%}
                            {{ productChannels }},
                            <a href="{{ path('marello_sales_saleschannel_update', {'id': channel.id}) }}">
                                {{ channel.name }}
                            </a>
                        {%- else -%}
                            {{ productChannels ~ ', ' ~ channel.name}}
                        {%- endif -%}
                    {%- endset -%}
                {% endif %}
            {% endfor %}

            {{ UI.renderHtmlProperty('marello.product.channels.label'|trans,productChannels) }}
        </div>
    </div>
</div>
