{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <h5 class="user-fieldset">
            <span>{{ 'marello.pricing.productprice.entity_plural_label'|trans }}</span>
        </h5>
        <div class="narrow-divider"></div>
        {% if product.prices|length > 0 %}
            {{ dataGrid.renderGrid('marello-assembled-price-list-grid', { productId: product.id }, { cssClass: 'inner-grid' })  }}
        {% else %}
            <div class="no-data">
                <span>{{ 'marello.pricing.productprice.no_prices_configured'|trans }}</span>
            </div>
        {% endif %}
        <div class="row-divider"></div>
        <div class="row-fluid form-horizontal">
            <h5 class="user-fieldset">
                <span>{{ 'marello.pricing.productchannelprice.entity_plural_label'|trans }}</span>
            </h5>
            <div class="narrow-divider"></div>
            {% if product.channelPrices|length > 0 %}
                {{ dataGrid.renderGrid('marello-assembled-channel-price-list-grid', { productId: product.id }, { cssClass: 'inner-grid' })  }}
            {% else %}
                <div class="no-data">
                    <span>{{ 'marello.pricing.productchannelprice.no_channel_prices_configured'|trans }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
