{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% if item and item is defined %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderHtmlProperty('marello.product.desired_stock_level.label'|trans, '<strong>' ~ item.product.desiredStockLevel ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.product.purchase_stock_level.label'|trans, '<strong>' ~ item.product.purchaseStockLevel ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.inventory.stocklevel.stock.label'|trans, '<strong>' ~ item.currentLevel.stock ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.inventory.stocklevel.allocated_stock.label'|trans, '<strong>' ~ item.currentLevel.allocatedStock ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.inventory.stocklevel.virtual_stock.label'|trans, '<strong>' ~ item.currentLevel.virtualStock ~ '</strong>') }}
        </div>
    </div>
    <div class="row-divider"></div>
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ dataGrid.renderGrid('marello-inventory-log', {'productId': item.product.id}) }}
        </div>
    </div>
</div>
{% endif %}
