{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@MarelloAddress/macros.html.twig' as Address %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%invoiceType%": entity.invoiceType|capitalize, "%id%": entity.invoiceNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_invoice_invoice_index'),
    'indexLabel': 'marello.invoice.entity_plural_label'|trans,
    'entityTitle': entity.invoiceNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if is_granted('VIEW', entity) %}
        <div class="pull-left btn-group icons-holder">
            <a href="{{ path('marello_pdf_download', {'entity': entity.invoiceType, 'id': entity.id}) }}" target="_blank" class="btn operation-button action-button">
                <i class="fa fa-download"></i> {{ 'marello.invoice.pdf.download.label'|trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content_data %}
    {% set id = 'marello-invoice-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.invoice.datablock.invoice_information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.invoice.invoice_number.label'|trans, entity.invoiceNumber) }}
                        {{ UI.renderProperty('marello.invoice.invoiced_at.label'|trans, entity.invoicedAt|oro_format_datetime) }}
                        {{ UI.renderProperty('marello.invoice.invoice_due_date.label'|trans, entity.invoiceDueDate|oro_format_datetime) }}
                        {{ UI.renderProperty('marello.invoice.type.label'|trans, entity.invoiceType|capitalize) }}
                        {{ UI.renderHtmlProperty(
                            'marello.invoice.sales_channel.label'|trans,
                            UI.entityViewLink(entity.order.salesChannel, entity.order.salesChannel.name, 'marello_sales_saleschannel_view')
                        )}}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set totalsWidget %}
        <div class="responsive-block">
            <div class="box-type1">
                <div class="title">
                    <span class="widget-title">{{ 'marello.invoice.datablock.invoice_totals'|trans }}</span>
                </div>
                {{ UI.renderProperty('marello.invoice.subtotal.label'|trans, entity.subtotal|oro_format_currency({'currency':entity.currency})) }}
                {{ UI.renderProperty('marello.invoice.shipping_amount_incl_tax.label'|trans, entity.shippingAmountInclTax|oro_format_currency({'currency':entity.currency})) }}
                {{ UI.renderProperty('marello.invoice.total_tax.label'|trans, entity.totalTax|oro_format_currency({'currency':entity.currency})) }}
                {{ UI.renderProperty('marello.invoice.grand_total.label'|trans, entity.grandTotal|oro_format_currency({'currency':entity.currency})) }}
                {{ UI.renderProperty('marello.invoice.total_paid.label'|trans, entity.totalPaid|oro_format_currency({'currency':entity.currency})) }}
                {{ UI.renderProperty('marello.invoice.total_due.label'|trans, entity.totalDue|oro_format_currency({'currency':entity.currency})) }}
                <br>
                <br>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [totalsWidget] }]) %}

    {% set customerInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.invoice.datablock.customer_information'|trans }}</span>
                        </div>
                        {% if entity.customer.company %}
                            {{ UI.renderHtmlProperty(
                            'marello.customer.company.entity_label'|trans,
                            UI.entityViewLink(entity.customer.company, entity.customer.company.name, 'marello_customer_company_view')
                            ) }}
                            {% if entity.customer.company.companyNumber %}
                                {{ UI.renderProperty('marello.customer.company.company_number.label'|trans, entity.customer.company.companyNumber) }}
                            {% endif %}
                            {% if entity.customer.company.taxIdentificationNumber %}
                                {{ UI.renderProperty('marello.customer.company.tax_identification_number.label'|trans, entity.customer.company.taxIdentificationNumber) }}
                            {% endif %}
                        {% endif %}
                        {{ UI.renderHtmlProperty(
                            'marello.customer.entity_label'|trans,
                            UI.entityViewLink(entity.customer, entity.customer|oro_format_name, 'marello_customer_view')
                        )}}
                        {{ UI.renderProperty('marello.customer.email.label'|trans, entity.customer.email) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [customerInformation] }]) %}

    {% set billingSubblocks = [] %}
    {% set billingAddressBlock %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_order_order_address', {id: entity.billingAddress.id, typeId: 1}),
        }) }}
    {% endset %}
    {% set billingSubblocks = billingSubblocks|merge([{'data' : [billingAddressBlock] }]) %}

    {% set emptyWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                </div>
            </div>
        </div>
    {% endset %}
    {% set billingSubblocks = billingSubblocks|merge([{'data' : [emptyWidget] }]) %}

    {% set shippingSubblocks = [] %}
    {% set shippingAddressBlock %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_order_order_address', {id: entity.shippingAddress.id, typeId: 2}),
        }) }}
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingAddressBlock] }]) %}

    {% set shippingWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.invoice.shipping_method.label'|trans, marello_shipping_method_with_type_label(entity.shippingMethod, entity.shippingMethodType)|trans) }}
                    {{ UI.renderProperty('marello.invoice.shipping_amount_incl_tax.label'|trans, entity.shippingAmountInclTax|oro_format_currency({'currency':entity.currency})) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingWidget] }]) %}

    {% set items %}
        {% set itemGridName = 'marello-'~ entity.invoiceType ~'-items' %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid(itemGridName, {'entityId': entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set payments %}
        {{ dataGrid.renderGrid('marello-invoice-payments-grid', {'invoiceId': entity.id}) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.invoice.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.invoice.datablock.billing_address'|trans,
            'class': 'active',
            'subblocks': billingSubblocks
        },
        {
            'title': 'marello.invoice.datablock.delivery'|trans,
            'class': 'active',
            'subblocks': shippingSubblocks
        },
        {
            'title': 'marello.invoice.datablock.invoice_items'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        },
        {
            'title': 'marello.invoice.datablock.payments'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [payments] }
            ]
        }
    ] %}


    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
