{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%id%": entity.id }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_tax_taxrate_index'),
    'indexLabel': 'marello.tax.taxrate.entity_plural_label'|trans,
    'entityTitle': entity.code
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.buttonSeparator() }}
        {{ UI.deleteButton({
            'dataUrl': path('marello_tax_api_delete_taxrate', {'id': entity.id}),
            'dataRedirect': path('marello_tax_taxrate_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-channel',
            'dataId': entity.id,
            'entity_label': 'marello.tax.taxrate.entity_label'|trans,
        }) }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.buttonSeparator() }}
        {{ UI.editButton({
            'path': path('marello_tax_taxrate_update', {'id': entity.id}),
            'entity_label': 'marello.tax.taxrate.entity_label'|trans
        }) }}
    {% endif %}
{% endblock %}

{% block content_data %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.tax.taxrate.datablock.taxrate_information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.tax.taxrate.code.label'|trans, entity.code) }}
                        {{ UI.renderProperty('marello.tax.taxrate.rate.label'|trans, entity.rate) }}
                        {% set taxRateViewGranted = resource_granted('marello_tax_taxrate_update') %}
                        {%- if taxRateViewGranted -%}
                            {%- set taxRateData -%}
                                <a href="{{ path('marello_tax_taxrate_update', {'id': entity.id}) }}">
                                    {{ entity.id|default(entity.id) }}
                                </a>
                            {%- endset -%}
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set dataBlocks = [
        {
            'title': 'marello.tax.taxrate.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        }
    ] %}

    {% set id = 'marelloSupplierView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
