{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroAddress/macros.html.twig' as address %}

{% oro_title_set({params : {"%id%": entity.returnNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_return_return_index'),
    'indexLabel': 'marello.return.returnentity.entity_plural_label'|trans,
    'entityTitle': entity.returnNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if is_granted('EDIT', entity) and marello_return_is_on_hold(entity) %}
        {{ UI.buttonSeparator() }}
        {{ UI.editButton({
            'path': path('marello_return_return_update', {'id': entity.id}),
            'entity_label': 'marello.return.returnentity.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set id = 'marello-return-view' %}
    {% set generalSubblocks = [] %}
    {% set customerInformation %}
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ 'marello.order.datablock.customer_information'|trans }}</span>
            </div>
            {% if entity.order.customer and entity.order.customer.company %}
                {{ UI.renderHtmlProperty(
                    'marello.customer.company.entity_label'|trans,
                    UI.entityViewLink(entity.order.customer.company, entity.order.customer.company.name, 'marello_customer_company_view')
                ) }}
            {% endif %}
                {{ UI.renderHtmlProperty(
                    'marello.return.returnentity.customer_info.label'|trans,
                    UI.entityViewLink(entity.order.customer, entity.order.customer|oro_format_name, 'marello_customer_view')
                )}}
                {{ UI.renderProperty('marello.customer.email.label'|trans, entity.order.customer.email) }}
        </div>
    {% endset %}
    {% set order %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderHtmlProperty(
                        'marello.order.order_number.label'|trans,
                        UI.entityViewLink(entity.order, entity.order.orderNumber, 'marello_order_order_view')
                    )}}
                    {{ UI.renderProperty('marello.order.currency.label'|trans, entity.order.currency) }}
                    {{ UI.renderHtmlProperty(
                        'marello.order.sales_channel.label'|trans,
                        UI.entityViewLink(entity.order.salesChannel, entity.order.salesChannelName, 'marello_sales_saleschannel_view')
                    )}}
                    {{ UI.renderProperty('marello.order.order_reference.label'|trans, entity.order.orderReference) }}
                    {{ UI.renderProperty('marello.order.create_date.label'|trans, entity.order.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('marello.order.purchase_date.label'|trans, entity.order.purchaseDate|oro_format_datetime) }}
                </div>
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.order.subtotal.label'|trans, entity.order.subtotal|oro_format_currency({'currency':entity.order.currency})) }}
                    {{ UI.renderProperty('marello.order.total_tax.label'|trans, entity.order.totalTax|oro_format_currency({'currency':entity.order.currency})) }}
                    {{ UI.renderProperty('marello.order.discount_amount.label'|trans, entity.order.discountAmount|oro_format_currency({'currency':entity.order.currency})) }}
                    {{ UI.renderProperty('marello.order.shipping_amount_incl_tax.label'|trans, entity.order.shippingAmountInclTax|oro_format_currency({'currency':entity.order.currency})) }}
                    {{ UI.renderProperty('marello.order.grand_total.label'|trans, entity.order.grandTotal|oro_format_currency({'currency':entity.order.currency})) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set sourceReferences %}
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ 'marello.order.datablock.source_references_information'|trans }}</span>
            </div>
            {{ UI.renderProperty('marello.order.order_reference.label'|trans, entity.order.orderReference) }}
            {{ UI.renderProperty('marello.order.invoice_reference.label'|trans, entity.order.invoiceReference) }}
            {{ UI.renderProperty('marello.order.shipping_method_reference.label'|trans, entity.order.shippingMethodReference) }}
        </div>
    {% endset %}

    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.return.returnentity.return_information.label'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.return.returnentity.return_number.label'|trans, entity.returnNumber) }}
                        {{ UI.renderProperty('marello.return.returnentity.return_reference.label'|trans, entity.returnReference) }}
                        {{ UI.renderProperty('marello.return.returnentity.track_trace_code.label'|trans, entity.trackTraceCode) }}
                        {{ UI.renderProperty('marello.return.returnentity.received_at.label'|trans, entity.receivedAt|oro_format_datetime) }}
                        {% set steps = marello_core_get_current_workflow_steps(entity) %}
                        {% for stepLabel, stepName in steps %}
                            {{ UI.renderProperty( stepLabel|trans({}, "workflows"), stepName|trans({}, "workflows") ) }}
                        {% endfor %}
                    </div>
                    {{ customerInformation }}
                    {{ sourceReferences }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}
    {% set items %}
        {{ dataGrid.renderGrid('marello-return-items', {'returnId': entity.id}) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.order.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.order.entity_label'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [order] }
            ]
        },
        {
            'title': 'marello.return.returnitem.entity_plural_label'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        }
    ] %}

    {%- set additionalInfoPlaceholders = marello_get_additional_placeholder_data('return') -%}
    {% for additionalInfo in additionalInfoPlaceholders %}
        {% set returnAdditionalInfoSection %}
            {% set placeholderName = additionalInfo.placeholder %}
            {% placeholder placeholderName with {'return': entity} %}
        {% endset %}
        {% if returnAdditionalInfoSection|trim is not empty %}
            {% set dataBlocks = dataBlocks|merge([
                {
                    'title': additionalInfo.label|trans,
                    'class': 'active',
                    'subblocks': [
                        { 'data': [returnAdditionalInfoSection] }
                    ]
                }
            ]) %}
        {% endif %}
    {% endfor %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
