{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% if entity.id %}
    {% oro_title_set({params : {"%wfarule.label%": entity.rule.name|default('N/A'|trans) } }) %}
{% endif %}

{% block navButtons %}
    {% if not entity.rule.system %}
        {{ UI.editButton({
            'path' : path('marelloenterprise_inventory_wfa_rule_update', { 'id': entity.id }),
            'entity_label': 'marelloenterprise.inventory.wfarule.entity_short_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('marelloenterprise_inventory_wfa_rule_index'),
    'indexLabel': 'marelloenterprise.inventory.wfarule.entity_short_plural_label'|trans,
    'entityTitle': entity.rule.name|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-wfa-rule-view' %}
    {%- set wfaRuleInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('marello.rule.name.label'|trans, entity.rule.name) }}
                {{ UI.renderProperty('marello.rule.enabled.label'|trans, entity.rule.enabled ?
                'marello.rule.enabled.yes.label'|trans
                :
                'marello.rule.enabled.no.label'|trans
                ) }}
                {{ UI.renderProperty('marello.rule.sort_order.label'|trans, entity.rule.sortOrder) }}
                {{ UI.renderProperty('marello.rule.stop_processing.label'|trans, entity.rule.stopProcessing ?
                'marello.rule.enabled.yes.label'|trans
                :
                'marello.rule.enabled.no.label'|trans
                ) }}
                {{ UI.renderProperty('marello.rule.system.label'|trans, entity.rule.system ?
                'marello.rule.enabled.yes.label'|trans
                :
                'marello.rule.enabled.no.label'|trans
                ) }}
                {{ UI.renderProperty('marelloenterprise.inventory.wfarule.strategy.label'|trans, marello_inventory_wfa_strategy_label(entity.strategy)) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'oro.entity_config.block_titles.general.label'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [wfaRuleInformation]}
            ]
        }
    ] %}

    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}

{% block stats %}
    {# Must be empty, because parent view uses this block to render dates, which are not implemented in this entity #}
{% endblock stats %}
