{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with 'MarelloProductBundle:Variant:Form/fields.html.twig' %}

{% set entity = form.vars.value %}
{% set formAction = entity.id ? path('marello_product_add_variant', { parentId: parent.id, id: entity.id }) : path('marello_product_create_variant', { id: parent.id }) %}

{% if parent.id %}
    {% oro_title_set({params : {"%product.name%": parent.name } }) %}
{% endif %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      parent,
            'indexPath':   path('marello_product_view', { id: parent.id}),
            'indexLabel':  'marello.product.variant.entity_plural_label'|trans,
            'entityTitle': parent.name|default('N/A')
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.product.variant.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title }%}
    {% endif %}
{% endblock pageHeader %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_product_view', { id: parent.id })) }}

    {% set html = UI.saveAndCloseButton() %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}


{% block content_data %}
    {% set id = 'product-variant' %}
    {% set productVariants %}
        <div class="variant-line-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {view: 'marellolayout/js/app/views/abstract-items-view'}|json_encode }}">
            {{ form_widget(form.products) }}
            {{ form_errors(form.products) }}
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Variants'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : [
                    form_row(form.variantCode),
                    UI.renderProperty('marello.product.variant.variant_code.label'|trans, entity.variantCode),
                    productVariants
                ]
            }]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock %}
