
{% block marello_shipping_method_config_widget %}
    {% import 'MarelloShippingBundle:ShippingMethodsConfigsRule:macros.html.twig' as ShipRuleMacro %}

    {% set collapseView = {
    group: 'shipping-method',
    open: true
    } %}

    <div class="shipping-method-config shipping-method-config-{{ form.typeConfigs.vars.is_grouped ? 'grouped' : 'simple' }} collapse-view"
         data-page-component-collapse="{{ collapseView|json_encode }}"
         data-role="method-view">
        {% if form.method.vars.value %}
            <div class="shipping-method-config__header"
                 data-collapse-trigger>
                <div class="shipping-method-config__item">
                    <i class="fa-plus-square-o"></i>
                    {% set icon = methods_icons[form.method.vars.value]|default('') %}
                    {% set label = methods_labels[form.method.vars.value]|trans %}
                    {% if icon %}<img src="{{ asset(icon) }}" alt="{{ label }}" title="{{ label }}"/>{% endif %}
                    {{ label }}
                    {{ ShipRuleMacro.renderShippingMethodDisabledFlag(form.method.vars.value) }}
                </div>
                <div class="shipping-method-config__info" data-role="method-preview"></div>
            </div>
        {% endif %}

        <div class="shipping-method-config__body"
             data-collapse-container>
            <div class="shipping-method-config__global-options">
                {{ form_widget(form.options) }}
            </div>
            {{ form_widget(form.typeConfigs) }}
            {{ form_errors(form.typeConfigs) }}
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}

{% block marello_shipping_method_type_config_collection_widget %}
    {% if is_grouped and form|length > 0 %}
        {% set optionLabel = form.children|first.options.children|first %}
        {% set optionLabel = optionLabel ? optionLabel.vars.label|trans : '' %}
        <h4>{{ 'marello.shipping.shipping_methods_table.additional_options.label'|trans }}</h4>
        <div class="shipping-method-config-grid">
            <div class="shipping-method-config-grid__header">
                <div class="shipping-method-config-grid__header-item">
                    {{ 'marello.shipping.shipping_methods_table.option.label'|trans }}
                </div>

                <div class="shipping-method-config-grid__header-item">
                    {{ optionLabel }}
                </div>

                <div class="shipping-method-config-grid__header-item">
                    {{ 'marello.shipping.shipping_methods_table.status.label'|trans }}
                </div>
            </div>

            <div class="shipping-method-config-grid__body">
                <div>{{- block('collection_widget') -}}</div>
            </div>
        </div>
    {% elseif form|length > 0 %}
        {% if prototype is defined %}
            {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {%- if form.parent is empty -%}
                {{ form_errors(form) }}
            {%- endif -%}
            {% for child in form %}
                {{- form_widget(child) -}}
            {% endfor %}
            {{- form_rest(form) -}}
        </div>
    {% endif %}
{% endblock %}

{% block marello_shipping_method_type_config_widget %}
    <div data-validation-ignore="" class="shipping-method-config-grid__body-item">
        {% if form.parent.vars.is_grouped %}
            {% for child in form.options %}
                <div class="control-group control-group-number">
                    <label>
                        {{- form_widget(child) -}}
                    </label>
                    {{ form_errors(child) }}
                </div>
            {% endfor %}
        {% else %}
            {{ form_widget(form.options) }}
        {% endif %}
    </div>

    {% if form.vars.value and form.parent.vars.is_grouped %}
        <div class="shipping-method-config-grid__active">
            <label class="shipping-method-config-grid__active-label">
                {{ form_widget(form.enabled, {'attr': {'class': 'shipping-method-config-grid__active-checkbox'}}) }}
                <span class="shipping-method-config-grid__active-label-text">
                    {{ 'marello.shipping.shipping_methods_table.active.label'|trans }}
                </span>
            </label>
        </div>
    {% endif %}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_shipping_methods_configs_rule_destination_widget %}
    {{ form_row(form.country) }}
    {{ form_row(form.region) }}
    {{ form_row(form.postalCodes) }}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_shipping_method_config_collection_widget %}
    {% if form|length != 0 %}
        <div class="shipping-methods-grid">
            <div class="shipping-methods-grid__header">
                {% set collapseView = {
                widgetModule: 'oroui/js/widget/collapse-group-widget',
                group: 'shipping-method'
                } %}
                <div class="shipping-methods-grid__header-method"
                     data-page-component-jquery="{{ collapseView|json_encode }}">
                    <i class="fa-plus-square-o"></i>
                    {{ 'marello.shipping.shipping_methods_table.method.label'|trans }}
                </div>
                <div>{{ 'marello.shipping.shipping_methods_table.options.label'|trans }}</div>
            </div>
            <div>
                {{ form_widget(form, {'attr': {'class': 'marello-shipping-rule-method-configs-collection row-oro'}}) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
