{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% oro_title_set({params : {"%id%": entity.id }}) %}

{% block navButtons %}
    {% import '@OroActivity/macros.html.twig' as AC %}

    {% placeholder view_navButtons with {entity: entity} %}
    {% if is_granted('EDIT', entity) %}
        {{ AC.addContextButton(entity) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    {% import '@OroActivity/macros.html.twig' as AC %}

    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_notificationalert_index'),
        'indexLabel': 'marello.notificationalert.entity_plural_label'|trans,
        'entityTitle': entity.message
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-notificationalert-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {% set alertType %}
                            <span class="marello-notification-alert-type alert-type-{{ entity.alertType.id }}">
                                {{ entity.alertType }}
                            </span>
                        {% endset %}
                        {{ UI.renderHtmlProperty('marello.notificationalert.alert_type.label'|trans, alertType) }}
                        {{ UI.renderProperty('marello.notificationalert.source.label'|trans, entity.source) }}
                        {{ UI.renderProperty('marello.notificationalert.message.label'|trans, entity.message) }}
                        {{ UI.renderHtmlProperty('marello.notificationalert.solution.label'|trans, entity.solution|default('N/A'|trans)) }}
                        {{ UI.renderProperty('marello.notificationalert.count.label'|trans, entity.count) }}
                        {{ UI.renderProperty('marello.notificationalert.resolved.label'|trans, entity.resolved) }}
                        {{ UI.renderProperty('marello.notificationalert.user_group.label'|trans, entity.userGroup|default('N/A'|trans)) }}
                        {{ UI.renderProperty('marello.notificationalert.related_item_id.label'|trans, entity.relatedItemId|default('N/A'|trans)) }}
                        {{ UI.renderProperty('marello.notificationalert.related_item_class.label'|trans, entity.relatedItemClass|default('N/A'|trans)) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set dataBlocks = [
        {
            'title': 'marello.notificationalert.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        }
    ] %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
