{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'MarelloShippingBundle:ShippingMethodsConfigsRule:macros.html.twig' as ShipRuleMacro %}

{% oro_title_set({params : {"%label%": entity.rule.name|default('N/A') }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('marello_shipping_methods_configs_rule_index'),
    'indexLabel': 'marello.shipping.shippingmethodsconfigsrule.entity_plural_label'|trans,
    'entityTitle': entity.rule.name|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}

    {%- set shippingRuleInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('marello.rule.name.label'|trans, entity.rule.name) }}
                {{ UI.renderProperty('marello.rule.enabled.label'|trans, entity.rule.enabled ?
                'marello.rule.enabled.yes.label'|trans
                :
                'marello.rule.enabled.no.label'|trans
                ) }}
                {{ UI.renderProperty('marello.rule.sort_order.label'|trans, entity.rule.sortOrder) }}
                {{ UI.renderProperty('marello.shipping.shippingmethodsconfigsrule.currency.label'|trans, entity.currency) }}
                {{ UI.renderProperty('marello.rule.expression.label'|trans, entity.rule.expression) }}

                {% if entity.destinations.count %}
                    {{ UI.renderHtmlProperty(
                    'marello.shipping.shippingmethodsconfigsrule.destinations.label'|trans,
                    UI.renderList(entity.destinations)) }}
                {% endif %}

                {% if entity.methodConfigs.count %}
                    {{ UI.renderHtmlProperty(
                    'marello.shipping.shippingmethodsconfigsrule.method_configs.label'|trans,
                    ShipRuleMacro.renderShippingMethodsConfigs(entity.methodConfigs, entity.currency)) }}
                {% endif %}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
    {
    'title': 'oro.entity_config.block_titles.general.label'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [shippingRuleInformation]}
    ]
    }
    ] %}

    {% set id = 'shipping-rule-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}

{% block stats %}
    {# Must be empty, because parent view uses this block to render dates, which are not implemented in this entity #}
{% endblock stats %}
