{% import '@OroUI/macros.html.twig' as UI %}
{% import "@OroActivity/macros.html.twig" as AC %}
{% import '@OroUser/macros.html.twig' as U %}

<div class="widget-content form-horizontal box-content row-fluid">
    <div class="responsive-block">
        {% if renderContexts is defined and renderContexts %}
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true) }}
            </div>
        {% endif %}
        {{ UI.renderProperty('marello.notificationmessage.source.label'|trans, entity.source) }}
        {{ UI.renderProperty('marello.notificationmessage.message.label'|trans, entity.message) }}
        {{ UI.renderHtmlProperty('marello.notificationmessage.solution.label'|trans, entity.solution|default('N/A'|trans)) }}
        {{ UI.renderProperty('marello.notificationmessage.count.label'|trans, entity.count) }}
        {{ UI.renderProperty('marello.notificationmessage.resolved.label'|trans, entity.resolved) }}
        {{ UI.renderProperty('marello.notificationmessage.user_group.label'|trans, entity.userGroup|default('N/A'|trans)) }}
    </div>
</div>
