{% if notificationMessages|length > 0 %}
    {% for notificationMessage in notificationMessages %}
        <div class="notification-message-widget-row {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}"
             data-url="{{ path("marello_notificationmessage_view", {'id':notificationMessage.id}) }}">
            <span class="marello-notification-message-type message-type-{{ notificationMessage.alertType.id }}">
                {{ notificationMessage.alertType }}
            </span>
            {% set label = null %}
            {% if notificationMessage.relatedItemClass is not null %}
                {% set label = oro_entity_config(notificationMessage.relatedItemClass).label|trans ~ ' ' ~ notificationMessage.relatedItemId %}
            {% endif %}
            <span class="notification-title">{{ label ? notificationMessage.title ~ ' ' ~ label : notificationMessage.title}}</span>
        </div>
    {% endfor %}
{% else %}
    <p class="no-messages">
        {{ 'marello.notificationmessage.widget.no_messages'|trans }}
    </p>
{% endif %}