{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {'%name%': entity.name, '%entityName%': 'marello.sales.saleschannel.entity_label'|trans }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_sales_saleschannel_index'),
    'indexLabel': 'marello.sales.saleschannel.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-saleschannel-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderProperty('marello.sales.saleschannel.name.label'|trans, entity.name) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.code.label'|trans, entity.code) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.channel_type.label'|trans, entity.channelType) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.currency.label'|trans, entity.currency) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.default.label'|trans, entity.default ?
                        'marello.core.yes.label'|trans
                        :
                        'marello.core.no.label'|trans
                        ) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.active.label'|trans, entity.active ?
                        'marello.core.yes.label'|trans
                        :
                        'marello.core.no.label'|trans
                        ) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.localization.label'|trans, entity.localization) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.locale.label'|trans, entity.locale) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set dataBlocks = [
        {
            'title': 'marello.sales.saleschannel.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        }
    ] %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
