{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {'%name%': entity.name, '%entityName%': 'marello.sales.saleschannel.entity_label'|trans }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_sales_saleschannel_index'),
    'indexLabel': 'marello.sales.saleschannel.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-saleschannel-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderProperty('marello.sales.saleschannel.name.label'|trans, entity.name) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.code.label'|trans, entity.code) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.channel_type.label'|trans, entity.channelType) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.currency.label'|trans, entity.currency) }}
                        {{ UI.renderProperty('marello.sales.saleschannel.default.label'|trans, entity.default ?
                            'marello.core.yes.label'|trans : 'marello.core.no.label'|trans )
                        }}
                        {{ UI.renderProperty('marello.sales.saleschannel.active.label'|trans, entity.active ?
                            'marello.core.yes.label'|trans : 'marello.core.no.label'|trans)
                        }}
                        {{ UI.renderProperty('marello.sales.saleschannel.localization.label'|trans, entity.localization) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set dataBlocks = [
        {
            'title': 'marello.sales.saleschannel.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        }
    ] %}

    {% set saleschannelProducts %}
        {{ dataGrid.renderGrid(
            'marello-saleschannel-product-grid',
            {
                'productIds': marello_get_product_ids_by_channel_ids([entity.id])
            }
        ) }}
    {% endset %}

    {% set additionalData %}
        {{ entityConfig.renderDynamicFields(entity) }}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.sales.saleschannel.datablock.products'|trans,
            'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                saleschannelProducts
            ]
        }]
    }]) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.sales.saleschannel.datablock.additional'|trans,
            'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                additionalData
            ]
        }]
    }]) %}

    {%- set additionalInfoPlaceholders = marello_get_additional_placeholder_data('salesChannel') -%}
    {% for additionalInfo in additionalInfoPlaceholders %}
        {% set salesChannelAdditionalInfoSection %}
            {% set placeholderName = additionalInfo.placeholder %}
            {% placeholder placeholderName with {'salesChannel': entity} %}
        {% endset %}
        {% if salesChannelAdditionalInfoSection|trim is not empty %}
            {% set dataBlocks = dataBlocks|merge([
                {
                    'title': additionalInfo.label|trans,
                    'class': 'active',
                    'subblocks': [
                        { 'data': [salesChannelAdditionalInfoSection] }
                    ]
                }
            ]) %}
        {% endif %}
    {% endfor %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
