{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% form_theme form with '@OroForm/Form/fields.html.twig' %}

{% set formAction = path('marello_inventory_inventory_update', { 'id': entity.id }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_inventory_inventory_index')) }}
    {% if entity.id and is_granted('marello_inventory_inventory_update') %}
        {% set html = '' %}
        {% if is_granted('marello_inventory_inventory_view') %}
            {% set html = UI.saveAndCloseButton({
            'route': 'marello_inventory_inventory_view',
            'params': {'id': '$id'}
            }) %}
        {% endif %}
        {% set html = html ~ UI.saveAndStayButton({
        'route': 'marello_inventory_inventory_update',
        'params': {'id': '$id'}
        }) %}

        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_inventory_inventory_index'),
        'indexLabel': 'marello.inventory.label'|trans,
        'entityTitle': entity.product.sku
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-inventory-update' %}
    {% set generalSubblocks = [] %}
    {% set productInformationWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('marello_inventory_widget_info', {id: entity.id}),
                            'title': 'marello.product.product_information'|trans
                        }) }}
                    </div>
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.inventory.inventoryitem.section.unit_of_measurement.label'|trans }}</span>
                        </div>
                        <div class="widget-content">
                            <div class="row-fluid form-horizontal">
                                <div class="responsive-block">
                                    {{ form_row(form.productUnit) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [productInformationWidget] }]) %}

    {% set inventoryItemLevelCombinedWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.inventory.inventoryitem.section.inventorybatch.label'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.inventory.inventoryitem.enable_batch_inventory.label'|trans, entity.enableBatchInventory ? 'marello.core.yes.label'|trans : 'marello.core.no.label'|trans) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="responsive-block">
            <div class="box-type1">
                {% placeholder marello_inventory_levels_totals with {'entity' : entity} %}
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [inventoryItemLevelCombinedWidget] }]) %}

    {% set inventoryQuantityWidget %}
        <div class="responsive-block">
            <div class="box-type1">
                <div class="inventoryitem"
                     data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ {
                         view: 'marellolayout/js/app/views/abstract-items-view'
                     }|json_encode }}"
                     data-layout="separate">
                    {{ form_widget(form.inventoryLevels) }}
                    {{ form_errors(form.inventoryLevels) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set backOrderInfoWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ form_row(form.backorderAllowed) }}
                    {{ form_row(form.maxQtyToBackorder) }}
                    {{ form_row(form.backOrdersDatetime) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set preOrderInfoWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ form_row(form.canPreorder) }}
                    {{ form_row(form.maxQtyToPreorder) }}
                    {{ form_row(form.preOrdersDatetime) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set orderOnDemandInfoWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ form_row(form.orderOnDemandAllowed) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },        {
            'title': 'marello.inventory.inventorylevel.entity_plural_label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    inventoryQuantityWidget
                ]
            }]
        },
        {
            'title': 'marello.inventory.inventoryitem.replenishment.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.purchaseInventory),
                    form_row(form.desiredInventory),
                    form_row(form.replenishment)
                ]
            }]
        },
        {
            'title': 'marello.inventory.inventoryitem.section.backorder_preorder.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'marello.inventory.inventoryitem.section.backorder.label'|trans,
                'data': [
                    backOrderInfoWidget
                ]
            },
            {
                'title': 'marello.inventory.inventoryitem.section.preorder.label'|trans,
                'data': [
                    preOrderInfoWidget
                ]
            }]
        }
    ] %}

    {% set orderOnDemandAllowed = oro_config_value('marello_order.order_on_demand_enabled') %}
    {% if orderOnDemandAllowed %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'marello.inventory.inventoryitem.section.orderondemand.label'|trans,
            'useSpan': false,
            'subblocks': [
                { 'data' : [orderOnDemandInfoWidget] }
            ]
        }])
        %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
