{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('marello_inventory_inventory_view', { id: entity.id }),
            'entity_label': 'marello.product.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_inventory_inventory_index'),
        'indexLabel': 'marello.inventory.label'|trans,
        'entityTitle': entity.sku
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>{{ 'marello.inventory.warehouse.entity_label'|trans }}</th>
                            <th>{{ 'marello.inventory.stocklevel.stock.label'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for warehouse in inventory.warehouses %}
                            <tr>
                                <td>{{ warehouse.warehouse }}</td>
                                <td>{{ warehouse.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
    {
        'title': 'Data'|trans,
        'class': 'active',
        'subblocks': [
            { 'data' : [data] }
        ]
    }
    ] %}

    {% set id = 'inventoryView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
