{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'MarelloAddressBundle::macros.html.twig' as address %}
{% set label = 'marello.subscription.'~ addressType ~'_address.label' %}
<div class="widget-content" {{ UI.renderPageComponentAttributes({
    module: 'marelloaddress/js/app/components/address-component',
    options: {
        wid: app.request.get('_wid'),
        el: '#subscription-address-' ~ subscriptionAddress.id,
        addressId: subscriptionAddress.id,
        addressUpdateRoute: {
            route: 'marello_subscription_updateaddress',
            id: subscriptionAddress.id
        }
    }
}) }}>
    <div class="address-block subscription-address">
        <div id="subscription-address-{{ subscriptionAddress.id }}">
            {% if marello_subscription_update is not defined or is_granted(marello_subscription_update) %}
                <div class="address-edit">
                    <button class="btn address-edit-button" id="edit-address-{{ subscriptionAddress.id }}" title="{{ 'marello.subscription.address.edit_action'|trans }}"><i class="fa-edit hide-text">{{ 'marello.subscription.address.edit_action'|trans }}</i></button>
                </div>
            {% endif %}
            <address>
                {{ UI.renderHtmlProperty(label|trans, address.renderAddress(subscriptionAddress)) }}
                {{ UI.renderProperty('marello.subscription.address.phone.label'|trans, subscriptionAddress.phone) }}
            </address>
        </div>
    </div>
</div>