{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'MarelloAddressBundle::macros.html.twig' as address %}
{% set label = 'marello.subscription.'~ addressType ~'_address.label' %}
<div class="widget-content">
    <div id="flash-messages">
        {% block messages %}
            <div class="flash-messages-frame">
                <div class="flash-messages-holder"></div>
            </div>
            <script type="text/javascript">
                require(['jquery', 'oroui/js/messenger'],
                        function($, messenger) {
                            {% if app.session.flashbag.peekAll|length > 0 %}
                            $(function() {
                                {% for type, messages in app.session.flashbag.all %}
                                {% for message in messages %}
                                messenger.notificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});
                                {% endfor %}
                                {% endfor %}
                            });
                            {% endif %}
                        });
            </script>
        {% endblock messages %}
    </div>
    <div class="address-block subscription-address">
        <div id="subscription-address-{{ subscriptionAddress.id }}">
            {% if marello_subscription_update is not defined or is_granted(marello_subscription_update) %}
                <div class="address-edit">
                    <button class="btn address-edit-button" id="edit-address-{{ subscriptionAddress.id }}" title="{{ 'marello.subscription.address.edit_action'|trans }}"><i class="fa-edit hide-text">{{ 'marello.subscription.address.edit_action'|trans }}</i></button>
                </div>
            {% endif %}

            <address>
                {{ UI.renderHtmlProperty(label|trans, address.renderAddress(subscriptionAddress)) }}
                {{ UI.renderProperty('marello.subscription.address.phone.label'|trans, subscriptionAddress.phone) }}
            </address>
            <script type="text/javascript">
                require(['jquery', 'underscore', 'routing', 'marelloaddress/js/address', 'oroui/js/widget-manager'],
                    function($, _, routing, Address, widgetManager) {
                        widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget){
                            /** @type marelloaddress.Address */
                            var subscriptionAddress = new Address({
                                el: '#subscription-address-{{ subscriptionAddress.id }}',
                                addressId: {{ subscriptionAddress.id }},
                                addressUpdateUrl: function() {
                                    return routing.generate('marello_subscription_updateaddress', {'id': {{ subscriptionAddress.id }} })
                                },
                                widget: widget
                            });
                        });
                    });
            </script>
        </div>
    </div>
</div>