{% extends '@OroActivityList/ActivityList/js/activityItemTemplate.html.twig' %}
{% import '@OroEmail/actions.html.twig' as AC %}

{% set entityClass = 'Marello\\Bundle\\NotificationMessageBundle\\Entity\\NotificationMessage' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName|raw }}
{% endblock %}

{% block activityActions %}
    {% import '@OroActivity/macros.html.twig' as AC %}

    {% set actions = [] %}
    {% set action %}
        <a href="<%- routing.generate('marello_notificationmessage_view', {'id': relatedActivityId}) %>"
           class="dropdown-item"
           title="{{ 'marello.notificationmessage.view_message'|trans }}">
                <span class="fa-eye hide-text" aria-hidden="true">{{ 'marello.notificationmessage.view_message'|trans }}</span>
            {{ 'marello.notificationmessage.view_message'|trans }}
        </a>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}

{% block activityShortMessage %}
    <div class="activity-short-message">
        <span class="marello-notification-message-type message-subject message-type-<%- data.alertType %>">
            <%- data.alertTypeName %>
        </span>
    </div>
    {{ parent() }}
{% endblock %}

{% block activityContent %}
    <div class="marello-notification-message-activity-body">
        {{ parent() }}
    </div>
{% endblock %}
