{% block marello_inventory_inventorylevel_widget %}
    <td class="inventorylevel-warehouse {{ form.warehouse.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.warehouse) }}
        </div>
        {{ form_errors(form.warehouse) }}
    </td>
    <td class="inventorylevel-pick-location {{ form.pickLocation.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.pickLocation) }}
        </div>
        {{ form_errors(form.pickLocation) }}
    </td>
    <td class="inventorylevel-quantity">
        <div class="fields-row">
            {{ form.inventoryQty.vars.value|default(0) }}
        </div>
    </td>
    <td class="inventorylevel-adjustment{{ form.quantity.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {% if form.vars.manageBatches is same as(true) %}
                <div class="marello-line-item-related-field">
                    <a href="{{ path('marello_inventory_inventorylevel_manage_batches', {'id': form.vars.value.id}) }}">
                        {{ 'marello.inventory.inventorylevel.form.manage_batches.label'|trans }}
                    </a>
                </div>
            {% elseif form.vars.externalWarehouse is same as(false)  %}
                <div class="marello-line-item-related-field">
                    {{ form_widget(form.adjustmentOperator) }}
                </div>
                <div class="marello-line-item-related-field">
                    {{ form_widget(form.quantity) }}
                </div>
                {{ form_errors(form.quantity) }}
            {% endif %}
        </div>
    </td>
{% endblock %}

{% macro marello_inventory_inventorylevel_collection_item_prototype(widget, attributes) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}
    {% if form.vars.display is not defined or form.vars.display != false %}
        <tr data-content="{{ name }}"
            class="marello-line-item display-values"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'marellolayout/js/app/views/abstract-item-view'}|json_encode }}"
            data-layout="separate">
            {{ form_widget(form) }}
        </tr>
    {% endif %}
{% endmacro %}

{% block marello_inventory_inventorylevel_collection_widget %}
    {% import _self as fields %}

    {% apply spaceless %}
        {% set widgetContainerAttributes = block('widget_container_attributes') %}
        {% if prototype is defined %}
            {% set prototype_html = fields.marello_inventory_inventorylevel_collection_item_prototype(form, widgetContainerAttributes) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="inventorylevel-line-item-warehouse"><span>{{ 'marello.inventory.inventorylevel.warehouse.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-pick-location"><span>{{ 'marello.inventory.inventorylevel.pick_location.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-inventory-qty"><span>{{ 'marello.inventory.inventorylevel.inventory.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-adjustment"><span>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</span></th>
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ fields.marello_inventory_inventorylevel_collection_item_prototype(child, widgetContainerAttributes) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endapply %}
{% endblock %}

{% block marello_inventory_inventorybatch_widget %}
    <td class="inventorybatch-batch-number {{ form.batchNumber.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.batchNumber) }}
        </div>
        {{ form_errors(form.batchNumber) }}
    </td>
    <td class="inventorybatch-quantity">
        <div class="fields-row">
            {{ form.quantity.vars.value|default(0) }}
        </div>
    </td>
    <td class="inventorybatch-adjustment {{ form.adjustmentQuantity.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            <div class="marello-line-item-related-field">
                {{ form_widget(form.adjustmentOperator) }}
            </div>
            <div class="marello-line-item-related-field">
                {{ form_widget(form.adjustmentQuantity) }}
            </div>
            {{ form_errors(form.adjustmentQuantity) }}
        </div>
    </td>
    <td class="inventorybatch-delivery-date {{ form.deliveryDate.vars.errors|length ? 'has-errors' : '' }}">
    <div class="fields-row">
        {{ form_widget(form.deliveryDate) }}
    </div>
        {{ form_errors(form.deliveryDate) }}
    </td>
    <td class="inventorybatch-sell-by-date {{ form.sellByDate.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.sellByDate) }}
        </div>
        {{ form_errors(form.sellByDate) }}
    </td>
    <td class="inventorybatch-purchase-price {{ form.purchasePrice.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.purchasePrice) }}
        </div>
        {{ form_errors(form.purchasePrice) }}
    </td>
{% endblock %}

{% macro marello_inventory_inventorybatch_collection_item_prototype(widget, attributes) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}
    {% if form.vars.display is not defined or form.vars.display != false %}
        <tr data-content="{{ name }}"
            class="marello-line-item display-values"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'marellolayout/js/app/views/abstract-item-view'}|json_encode }}"
            data-layout="separate">
            {{ form_widget(form) }}
        </tr>
    {% endif %}
{% endmacro %}

{% block marello_inventory_inventorybatch_collection_widget %}
    {% import _self as fields %}

    {% apply spaceless %}
        {% set widgetContainerAttributes = block('widget_container_attributes') %}
        {% if prototype is defined %}
            {% set prototype_html = fields.marello_inventory_inventorybatch_collection_item_prototype(form, widgetContainerAttributes) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="inventorybatch-line-item-batch-number"><span>{{ 'marello.inventory.inventorybatch.batch_number.label'|trans }}</span></th>
                        <th class="inventorybatch-line-item-quantity"><span>{{ 'marello.inventory.inventorybatch.quantity.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-adjustment"><span>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-delivery-date"><span>{{ 'marello.inventory.inventorybatch.date_received.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-sell-by-date"><span>{{ 'marello.inventory.inventorybatch.sell_by_date.label'|trans }}</span></th>
                        <th class="inventorylevel-line-item-purchase-price"><span>{{ 'marello.inventory.inventorybatch.purchase_price.label'|trans }}</span></th>
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ fields.marello_inventory_inventorybatch_collection_item_prototype(child, widgetContainerAttributes) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ 'marello.layout.add_entity'|trans({'%entityName%': 'marello.inventory.inventorybatch.entity_label'|trans}) }}</a>
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}

{% block marello_inventory_reshipment_item_widget %}
    <tr>
        <td class="order-line-item-product">
            <div class="fields-row">
                {{ form_widget(form.productSku) }}
            </div>
        </td>
        <td class="order-line-item-product">
            <div class="fields-row">
                {{ form_widget(form.productName) }}
            </div>
        </td>
        <td class="order-line-item-quantity">
            <div class="fields-row">
                {{ form_widget(form.availableQuantity) }}
            </div>
        </td>
        <td class="order-line-item-quantity">
            <div class="fields-row">
                {{ form_widget(form.quantity) }}
            </div>
        </td>
        <td class="order-line-item-quantity">
            <div class="fields-row">
                {{ form_widget(form.newQuantity) }}
            </div>
            {{ form_errors(form.newQuantity) }}
        </td>
        <td class="order-line-item-product-unit">
            <div class="fields-row">
                {{ form.vars.value.productUnit }}
            </div>
        </td>
    </tr>
{% endblock %}

{% block marello_inventory_reshipment_item_collection_widget %}
    {% apply spaceless %}
        <div class="row-oro">
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="order-line-item-product"><span>{{ 'marello.product.sku.label'|trans }}</span></th>
                            <th class="order-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'marello.order.orderitem.available_quantity.label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'marello.order.orderitem.ordered.label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'marello.order.orderitem.quantity.label'|trans }}</span></th>
                            <th class="order-line-item-product-unit"><span>{{ 'marello.order.orderitem.product_unit.label'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in form.children %}
                            {{ form_widget(child) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endapply %}
{% endblock %}

{% block marello_inventory_reshipment_reason_select_row %}
    <div class="reshipment-reason-attribute">
        {{ block('form_row') }}
    </div>
{% endblock %}

{% block marello_inventory_reshipment_reason_select_widget %}
    <div class="reshipment-reason-attribute-field">
        {{ block('oro_select2_widget') }}
    </div>
{% endblock %}
