{% block marello_inventory_item_collection_widget %}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_inventory_item_collection_row %}
    <div class="row-oro">
        <div class="marello-item-collection grid-container">
            <table class="grid table-hover table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="inventory-line-item-warehouse"><span>{{ 'marello.inventory.warehouse.entity_label'|trans }}</span></th>
                    <th class="inventory-line-item-quantity"><span>{{ 'marello.inventory.inventoryitem.quantity.label'|trans }}</span></th>
                    <th class="inventory-line-item-adjustment"><span>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</span></th>
                </tr>
                </thead>
                <tbody>
                    {{ form_widget(form) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block marello_inventory_item_row %}
    <tr class="inventory-line-item">
        <td class="inventory-line-item-warehouse">
            <div class="fields-row">
                {{ form.vars.value.warehouse }}
            </div>
        </td>
        <td class="inventory-line-item-quantity">
            <div class="fields-row">
                <strong>{{ form.vars.value.quantity }}</strong>
            </div>
        </td>
        {{ form_widget(form) }}
    </tr>
{% endblock %}

{% block marello_inventory_item_widget %}
    <td class="inventory-line-item-adjustment {{ form.modifyAmount.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.modifyOperator) }}
            {{ form_widget(form.modifyAmount) }}
            {{ form_errors(form.modifyAmount) }}
        </div>
    </td>
{% endblock %}

{% block marello_variant_inventory_widget %}
    {{ form_widget(form.products) }}
{% endblock %}

{% block marello_product_inventory_row %}
    {{ form_label(form, form.vars.value.name ~ ' ' ~ form.vars.value.sku, {required: false}) }}
    {{ form_widget(form) }}
    <hr/>
{% endblock %}
