{% block marello_inventory_item_collection_widget %}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_inventory_item_collection_row %}
    <table class="table table-condensed table-bordered marello_inventory-product-inventory-table">
        <thead>
        <tr>
            <th>{{ 'marello.inventory.warehouse.entity_label'|trans }}</th>
            <th>{{ 'marello.inventory.item.quantity.label'|trans }}</th>
            <th>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            {{ form_widget(form) }}
        </tbody>
    </table>
{% endblock %}

{% block marello_inventory_item_row %}
    <tr>
        <td>
            {{ form.vars.value.warehouse }}
        </td>
        <td>
            <strong>{{ form.vars.value.quantity }}</strong>
        </td>
        {{ form_widget(form) }}
    </tr>
{% endblock %}

{% block marello_inventory_item_widget %}
    <td class="marello_inventory-warehouse-inventory-widget {{ form.modifyAmount.vars.errors|length ? 'has-errors' : '' }}">
        {{ form_widget(form.modifyOperator, {
            attr: {
                style: 'width: 100px;'
            }
        }) }}
        {{ form_widget(form.modifyAmount) }}
        {{ form_errors(form.modifyAmount) }}
    </td>
{% endblock %}

{% block marello_variant_inventory_widget %}
    {{ form_widget(form.products) }}
{% endblock %}

{% block marello_product_inventory_row %}
    {{ form_label(form, form.vars.value.name ~ ' ' ~ form.vars.value.sku, {required: false}) }}
    {{ form_widget(form) }}
    <hr/>
{% endblock %}
