
{% block marello_inventory_item_collection_widget %}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_inventory_item_collection_row %}
    <div class="row-oro">
        <div class="marello-item-collection grid-container">
            <table class="grid table-hover table table-bordered table-condensed">
                <thead>
                <tr>
                    {% if form.parent.vars.name == 'marello_product_inventory' or form.parent.vars.name != 'marello_product_form' %}
                        <th class="inventory-line-item-sku"><span>{{ 'marello.product.sku.label'|trans }}</span></th>
                        <th class="inventory-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                    {% endif %}
                    <th class="inventory-line-item-quantity"><span>{{ 'marello.inventory.inventoryitem.quantity.label'|trans }}</span></th>
                    <th class="inventory-line-item-adjustment"><span>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</span></th>
                </tr>
                </thead>
                <tbody>
                    {{ form_widget(form) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block marello_inventory_item_row %}
    <tr class="marello-line-item display-values">
        {% if form.parent.parent.vars.name == 'marello_product_inventory' or form.parent.parent.vars.name != 'marello_product_form' %}
            <td class="inventory-line-item-sku">
                <div class="fields-row">
                    {{ form.vars.value.product.sku  }}
                </div>
            </td>
            <td class="inventory-line-item-product">
                <div class="fields-row">
                    {% set productViewGranted = resource_granted('marello_product_view') %}
                    {%- if productViewGranted -%}
                        <a href="{{ path('marello_product_view', {'id': form.vars.value.product.id}) }}">
                            {{ form.vars.value.product.name }}
                        </a>
                    {%- else -%}
                        {{ form.vars.value.product.name}}
                    {%- endif -%}
                </div>
            </td>
        {% endif %}
        <td class="inventory-line-item-quantity">
            <div class="fields-row">
                <strong>{{ form.vars.value.quantity }}</strong>
            </div>
        </td>
        {{ form_widget(form) }}
    </tr>
{% endblock %}

{% block marello_inventory_item_widget %}
    <td class="inventory-line-item-adjustment {{ form.modifyAmount.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.modifyOperator) }}
            {{ form_widget(form.modifyAmount) }}
            {{ form_errors(form.modifyAmount) }}
        </div>
    </td>
{% endblock %}

{% block marello_variant_inventory_widget %}
    {{ form_widget(form.products) }}
{% endblock %}

{% block marello_product_inventory_row %}
    {{ form_widget(form) }}
    <hr/>
{% endblock %}
