
{% block marello_inventory_inventorylevel_collection_widget %}
    {{ form_rest(form) }}
{% endblock %}

{% block marello_inventory_inventorylevel_collection_row %}
    <div class="row-oro">
        <div class="marello-item-collection grid-container">
            <table class="grid table-hover table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="inventory-line-item-sku"><span>{{ 'marello.product.sku.label'|trans }}</span></th>
                    <th class="inventory-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                    <th class="inventory-line-item-quantity"><span>{{ 'marello.inventory.inventorylevel.inventory.label'|trans }}</span></th>
                    <th class="inventory-line-item-warehouse"><span>{{ 'marello.inventory.warehouse.entity_label'|trans }}</span></th>
                    <th class="inventory-line-item-adjustment"><span>{{ 'marello.inventory.model.warehouse.adjustment.label'|trans }}</span></th>
                </tr>
                </thead>
                <tbody>
                    {{ form_widget(form) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block marello_inventory_inventorylevel_row %}
    <tr class="marello-line-item display-values">
        <td class="inventory-line-item-sku">
            <div class="fields-row">
                {{ form.vars.value.inventoryLevel.inventoryItem.product.sku  }}
            </div>
        </td>
        <td class="inventory-line-item-product">
            <div class="fields-row">
                {% set productViewGranted = resource_granted('marello_product_view') %}
                {%- if productViewGranted -%}
                    <a href="{{ path('marello_product_view', {'id': form.vars.value.inventoryLevel.inventoryItem.product.id}) }}">
                        {{ form.vars.value.inventoryLevel.inventoryItem.product.name }}
                    </a>
                {%- else -%}
                    {{ form.vars.value.inventoryLevel.inventoryItem.product.name}}
                {%- endif -%}
            </div>
        </td>
        <td class="inventory-line-item-quantity">
            <div class="fields-row">
                <strong>{{ form.vars.value.inventoryLevel.inventoryQty|default(0) }}</strong>
            </div>
        </td>
        <td class="inventory-line-item-warehouse">
            <div class="fields-row">
                <strong>{{ form.vars.value.inventoryLevel.warehouse }}</strong>
            </div>
        </td>
        {{ form_widget(form) }}
    </tr>
{% endblock %}

{% block marello_inventory_inventorylevel_widget %}
    <td class="inventory-line-item-adjustment {{ form.quantity.vars.errors|length ? 'has-errors' : '' }}">
        <div class="fields-row">
            {{ form_widget(form.adjustmentOperator) }}
            {{ form_widget(form.quantity) }}
            {{ form_errors(form.quantity) }}
        </div>
    </td>
{% endblock %}

{% block marello_variant_inventory_widget %}
    {{ form_widget(form.products) }}
{% endblock %}

{% block marello_product_inventory_row %}
    {{ form_widget(form) }}
    <hr/>
{% endblock %}
