{% block marello_product_inventory_widget %}
    <table class="table table-condensed table-bordered marello_inventory-product-inventory-table">
        <thead>
        <tr>
            <th>Warehouse</th>
            <th>Quantity</th>
            <th>Adjustment</th>
        </tr>
        </thead>
        <tbody>
        {{ form_row(form.warehouses) }}
        </tbody>
    </table>
{% endblock %}

{% block marello_warehouse_inventory_collection_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block marello_warehouse_inventory_row %}
    <tr>
        <td>
            {{ form.vars.value.warehouse }}
        </td>
        <td>
            <strong>{{ form.vars.value.quantity }}</strong>
        </td>
        {{ form_widget(form) }}
    </tr>
{% endblock %}

{% block marello_warehouse_inventory_widget %}
    <td class="marello_inventory-warehouse-inventory-widget {{ form.modifyAmount.vars.errors|length ? 'has-errors' : '' }}">
        {{ form_widget(form.modifyOperator, {
            attr: {
                style: 'width: 100px;'
            }
        }) }}
        {{ form_widget(form.modifyAmount) }}
        {{ form_errors(form.modifyAmount) }}
    </td>
{% endblock %}
