{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% form_theme form with '@OroForm/Form/fields.html.twig' %}

{% set formAction = path('marello_inventory_inventorylevel_manage_batches', { 'id': entity.id }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_inventory_inventory_update', { 'id': entity.inventoryItem.id })) }}
    {% if entity.id and is_granted('marello_inventory_inventory_update') %}
        {% set html = '' %}
        {% set html = UI.saveAndCloseButton({
        'route': 'marello_inventory_inventorylevel_batches_view',
        'params': {'id': entity.id}
        }) %}
        {% set html = html ~ UI.saveAndStayButton({
        'route': 'marello_inventory_inventorylevel_manage_batches',
        'params': {'id': entity.id}
        }) %}

        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_inventory_inventory_index'),
        'indexLabel': 'marello.inventory.label'|trans,
        'entityTitle': 'marello.inventory.inventorybatch.entity_plural_label'|trans,
        'additional': [{
            'indexPath':   path('marello_inventory_inventory_update', {'id': entity.inventoryItem.id}),
            'indexLabel':  entity.inventoryItem.product.sku
        }]
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-inventory-level-manage-batches' %}
    {% set generalSubblocks = [] %}
    {% set productInformationWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('marello_inventory_widget_info', {id: entity.inventoryItem.id}),
                            'title': 'marello.product.product_information'|trans
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [productInformationWidget] }]) %}

    {% set inventoryLevelInformationWidget %}
        <div class="responsive-block">
            <div class="box-type1">
                <div class="title">
                    <span class="widget-title">{{ 'marello.inventory.information.label'|trans }}</span>
                </div>
                {{ UI.renderProperty('marello.inventory.inventorylevel.warehouse.label'|trans, entity.warehouse.label) }}
                {{ UI.renderProperty('marello.inventory.inventorylevel.pick_location.label'|trans, entity.picklocation) }}
                {{ UI.renderProperty('marello.inventory.inventorylevel.inventory.label'|trans, entity.inventoryQty) }}
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [inventoryLevelInformationWidget]}]) %}

    {% set inventoryBatchesWidget %}
        <div class="responsive-block">
            <div class="box-type1">
                <div class="inventoryitem"
                     data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ {
                         view: 'marellolayout/js/app/views/abstract-items-view'
                     }|json_encode }}"
                     data-layout="separate">
                    {{ form_widget(form.inventoryBatches) }}
                    {{ form_errors(form.inventoryBatches) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.inventory.inventorybatch.entity_plural_label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    inventoryBatchesWidget
                ]
            }]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
