{% if value is not null %}
    {% set className = oro_class_name(value) %}

    {# If subject is order item, display order, it is more convenient #}
    {% if className == 'Marello\\Bundle\\OrderBundle\\Entity\\OrderItem' %}
        {% set subject = value.order %}
        {% set className = oro_class_name(subject) %}
    {% else %}
        {% set subject = value %}
    {% endif %}

    {% set route = oro_entity_route(className) %}

    {% set label %}
        {{ oro_entity_config(className).label|trans }}
        {{ subject }}
    {% endset %}

    {% if route and resource_granted('VIEW', subject) %}
        <a href="{{ oro_entity_view_link(className, subject.id) }}">{{ label }}</a>
    {% else %}
        {{ label }}
    {% endif %}
{% endif %}
