{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% set formAction = path('marello_purchaseorder_purchaseorder_update', { id: entity.id }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_purchaseorder_purchaseorder_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% set html = html ~ UI.saveAndStayButton() %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_purchaseorder_purchaseorder_index'),
        'indexLabel': 'marello.purchaseorder.entity_plural_label'|trans,
        'entityTitle': form.vars.value.purchaseOrderNumber
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.purchaseorder.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-purchase-order-update' %}

    {% set products %}
        <div class="purchaseorder-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'marellopurchaseorder/js/app/views/purchaseorder-items-view',
                 items: items|default({})
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.items) }}
            {{ form_errors(form.items) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'marello.supplier.entity_label'|trans,
                'data': [
                    form_row(form.supplier),
                ]
                }
            ]
        },
        {
            'title': 'marello.purchaseorder.billing_and_shipping.label'|trans,
            'class': '',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.dueDate),
                ]
            }]
        },
        {
            'title': 'Products'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'marello.purchaseorder.select_products'|trans,
                'data': [
                    products
                ]
            }]
        }
    ] %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
