{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% form_theme form with '@OroForm/Form/fields.html.twig' %}
{% set formAction = path('marello_purchaseorder_purchaseorder_update', { id: entity.id }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_purchaseorder_purchaseorder_index')) }}
    {% set html = UI.saveAndCloseButton({
        'route': 'marello_purchaseorder_purchaseorder_view',
        'params': {'id': '$id'}
    }) %}
    {% set html = html ~ UI.saveAndStayButton({
        'route': 'marello_purchaseorder_purchaseorder_update',
        'params': {'id': '$id'}
    }) %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_purchaseorder_purchaseorder_index'),
        'indexLabel': 'marello.purchaseorder.entity_plural_label'|trans,
        'entityTitle': form.vars.value.purchaseOrderNumber
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.purchaseorder.entity_label'|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-purchase-order-update' %}

    {% set products %}
        <div class="purchaseorder-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'marellopurchaseorder/js/app/views/purchaseorder-items-view',
                 items: items|default({})
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.items) }}
            {{ form_errors(form.items) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    form_row(form.supplier),
                    form_row(form.purchaseOrderReference),
                    form_row(form.dueDate)
                ]
            }]
        },
        {
            'title': 'Products'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'marello.purchaseorder.select_products'|trans,
                'data': [
                    products
                ]
            }]
        }
    ] %}

    {% set additionalData = [] %}
    {% for child in form.children %}
        {% if child.vars.extra_field is defined and child.vars.extra_field %}
            {% set additionalData = additionalData|merge([form_row(child)]) %}
        {% endif %}
    {% endfor %}

    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'marello.purchaseorder.sections.additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }]) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
