{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}

{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_purchaseorder_purchaseorder_index'),
        'indexLabel': 'marello.purchaseorder.entity_label'|trans,
        'entityTitle': entity.purchaseOrderNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.purchaseorder.purchase_order_number.label'|trans, entity.purchaseOrderNumber) }}
                    {{ UI.renderProperty('marello.purchaseorder.purchase_order_date.label'|trans, entity.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('marello.purchaseorder.status.label'|trans, entity.workflowStep ? entity.workflowStep.label : null) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-purchase-order-items', {'order_id': entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        },
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        }
    ] %}

    {% set id = 'vehicleView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
