{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@MarelloAddress/macros.html.twig' as Address %}

{% block navButtons %}
    {% if marello_purchaseorder_can_edit(entity)  %}

        {% if is_granted('EDIT', entity) %}
            {{ UI.editButton({
                'path': path('marello_purchaseorder_purchaseorder_update', {'id': entity.id}),
                'entity_label': 'marello.purchaseorder.entity_label'|trans
            }) }}
            {{ UI.buttonSeparator() }}
        {% endif %}

    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_purchaseorder_purchaseorder_index'),
        'indexLabel': 'marello.purchaseorder.entity_label'|trans,
        'entityTitle': entity.purchaseOrderNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-purchase-order-view' %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.purchaseorder.purchase_order_number.label'|trans, entity.purchaseOrderNumber) }}
                    {{ UI.renderProperty('marello.purchaseorder.purchase_order_date.label'|trans, entity.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('marello.purchaseorder.purchase_order_supplier.label'|trans, entity.supplier.name) }}
                    {{ UI.renderProperty('marello.purchaseorder.expected_delivery_date.label'|trans, entity.dueDate|oro_format_date) }}
                    {{ UI.renderProperty('marello.purchaseorder.order_total.label'|trans, entity.orderTotal|oro_format_currency({'currency':entity.supplier.currency})) }}
                    {{ UI.renderHtmlProperty('marello.purchaseorder.shipping_address.label'|trans, Address.renderAddress(entity.warehouse.address)) }}
                    {{ UI.renderProperty('marello.order.address.phone.label'|trans, entity.warehouse.address.phone) }}
                    {{ UI.renderProperty('marello.purchaseorder.warehouse.label'|trans, entity.warehouse.label) }}

                    {% set steps = marello_core_get_current_workflow_steps(entity) %}
                    {% for stepLabel, stepName in steps %}
                        {{ UI.renderProperty( stepLabel|trans({}, "workflows"), stepName|trans({}, "workflows") ) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endset %}
    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-purchase-order-items', {'order_id': entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.core.ui.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        },
        {
            'title': 'marello.purchaseorder.ui.sections.items'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        }
    ] %}

    {%- set additionalInfoPlaceholders = marello_get_additional_placeholder_data('purchaseOrder') -%}
    {% for additionalInfo in additionalInfoPlaceholders %}
        {% set purchaseOrderAdditionalInfoSection %}
            {% set placeholderName = additionalInfo.placeholder %}
            {% placeholder placeholderName with {'purchaseOrder': entity} %}
        {% endset %}
        {% if purchaseOrderAdditionalInfoSection|trim is not empty %}
            {% set dataBlocks = dataBlocks|merge([
                {
                    'title': additionalInfo.label|trans,
                    'class': 'active',
                    'subblocks': [
                        { 'data': [purchaseOrderAdditionalInfoSection] }
                    ]
                }
            ]) %}
        {% endif %}
    {% endfor %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
