{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% if form.vars.value.id %}
    {% set formAction = path('marello_order_order_update', { 'id': form.vars.value.id }) %}
    {% oro_title_set({params : {"%id%": entity.orderNumber }}) %}
{% else %}
    {% set formAction = path('marello_order_order_create') %}
{% endif %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_order_order_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_order_order_index'),
        'indexLabel': 'marello.order.entity_plural_label'|trans,
        'entityTitle': form.vars.value.orderNumber
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.order.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'order-create' %}

    {% set billingAddress = form_widget(form.billingAddress) %}
    {% set shippingAddress = form_widget(form.shippingAddress) %}
    {% set orderItems %}
        <div class="order-line-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'marelloorder/js/app/views/order-items-view',
                 prices: prices|default({})
             }|json_encode }}">
            {{ form_widget(form.items) }}
            {{ form_errors(form.items) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_rest(form)
                ]
            }]
        },
        {
            'title': 'marello.order.items.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    orderItems
                ]
            }]
        },
        {
            'title': 'marello.order.billing_address.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    billingAddress
                ]
            }]
        },
        {
            'title': 'marello.order.shipping_address.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    shippingAddress
                ]
            }]
        },
    ] %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
