{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@MarelloOrder/Order/macros.html.twig' as SM %}

{% form_theme form with '@OroForm/Form/fields.html.twig' %}
{% if form.vars.value.id %}
    {% set formAction = path('marello_order_order_update', { 'id': form.vars.value.id }) %}
    {% oro_title_set({params : {"%id%": entity.orderNumber }}) %}
{% else %}
    {% set formAction = path('marello_order_order_create') %}
{% endif %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_order_order_index')) }}
    {% set html = UI.saveAndCloseButton({
        'route': 'marello_order_order_view',
        'params': {'id': '$id'}
    }) %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_order_order_index'),
        'indexLabel': 'marello.order.entity_plural_label'|trans,
        'entityTitle': form.vars.value.orderNumber
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.order.entity_label'|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% set options = form.vars.options|default({})|merge({
    'route': 'marello_order_form_changes',
    'prefix': 'order',
    'routeParams': {id: entity.id|default(0)},
    'organization': form.vars.value and form.vars.value.organization is defined and form.vars.value.organization ? form.vars.value.organization.id : null,
}) %}
{% set pageComponent = {module: 'marellolayout/js/app/components/form-changes-component', options: options} %}

{% block content_data %}
    {% set id = 'marello-order-create' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div data-page-component-module="marellocustomer/js/app/components/customer-selection-component">
                            {{ form_row(form.customer) }}
                        </div>
                        <div
                                data-page-component-module="oroui/js/app/components/view-component"
                                data-page-component-options="{{ {
                                    view: 'marelloorder/js/app/views/order-company-view',
                                    selectors: {
                                        company: '.marello-customer-company-select-container'
                                    }
                                }|json_encode }}"
                                data-layout="separate">
                            {{ form_row(form.company) }}
                        </div>
                        {{ form_row(form.salesChannel) }}
                        <div data-page-component-module="oroui/js/app/components/view-component"
                             data-page-component-options="{{ {
                                 view: 'marelloorder/js/app/views/order-discount-view',
                             }|json_encode }}">
                            {{ form_row(form.discountAmount) }}
                        </div>
                        {{ form_row(form.couponCode) }}
                        {{ form_row(form.localization) }}
                        {{ form_row(form.purchaseDate) }}
                        {{ form_row(form.deliveryDate) }}
                        {{ form_row(form.poNumber) }}
                        {{ form_row(form.orderNote) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set subtotals %}
        <div class="responsive-block">
            <div class="box-type1">
                <div class="title">
                    <span class="widget-title">{{ 'marello.order.datablock.order_totals'|trans }}</span>
                </div>
                <div class="subtotal-error"></div>
                <div data-page-component-module="oroui/js/app/components/view-component"
                     data-page-component-options="{{ {
                         view: 'marelloorder/js/app/views/order-totals-view',
                         data: data|default({})
                     }|json_encode }}">
                    <div class="totals-container" data-totals-container></div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [subtotals] }]) %}

    {% set billingAddress %}
        {% if form.billingAddress.customerAddress is defined %}
            {% set idAddressBlock = '#' ~ form.billingAddress.customerAddress.vars.id %}
        {% else %}
            {% set idAddressBlock = null %}
        {% endif %}
        <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'marelloorder/js/app/views/order-billing-address-view',
                    type: 'billing',
                    selectors: {
                        address: idAddressBlock,
                        useBillingAsShipping: '#' ~ form.billingAddress.useBillingAddressAsShipping.vars.id,
                        shippingAddressBlock: '#' ~ form.shippingAddress.vars.id,
                        subtotalsFields: [
                            '#' ~ form.billingAddress.country.vars.id,
                            '#' ~ form.billingAddress.region.vars.id,
                            '#' ~ form.billingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}"
                data-layout="separate">
            {{ form_widget(form.billingAddress) }}
        </div>
    {% endset %}
    {% set shippingAddress %}
        {% if form.shippingAddress.customerAddress is defined %}
            {% set idAddressBlock = '#' ~ form.shippingAddress.customerAddress.vars.id %}
        {% else %}
            {% set idAddressBlock = null %}
        {% endif %}
        <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'marelloorder/js/app/views/order-address-view',
                    type: 'shipping',
                    selectors: {
                        address: idAddressBlock,
                        subtotalsFields: [
                        '#' ~ form.shippingAddress.country.vars.id,
                        '#' ~ form.shippingAddress.region.vars.id,
                        '#' ~ form.shippingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}"
                data-layout="separate">
            {{ form_widget(form.shippingAddress) }}
        </div>
    {% endset %}
    {% set orderItems %}
        <div class="order-line-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'marelloorder/js/app/views/order-items-view',
                 data: data|default({}),
                 selectionUrl: form.items.vars.grid_url,
                 selectorWindowTitle: form.items.vars.selector_window_title|trans
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.items) }}
            {{ form_errors(form.items) }}
        </div>
    {% endset %}
    {% set paymentInformation %}
        <div class="possible-payment-methods-info">
            {{ UI.renderAttribute('marello.order.form.payment_options.label'|trans,
            '<div class="possible_payment_methods_container">' ~ SM.renderPossiblePaymentMethods(form, entity) ~ '</div>'
            ) }}
        </div>
    {% endset %}
    {% set shippingInformation %}
        <div class="possible-shipping-methods-info">
            {{ UI.renderAttribute('marello.order.form.shipping_options.label'|trans,
            '<div class="possible_shipping_methods_container">' ~ SM.renderPossibleShippingMethods(form, entity) ~ '</div>'
            ) }}

            {% set options = {
            view: 'marelloorder/js/app/views/shipping-cost-view'
            } %}

            <div
                    data-layout="separate"
                    data-page-component-module="oroui/js/app/components/view-component"
                    data-page-component-options="{{ options|json_encode }}">
                {{ form_row(form.overriddenShippingCostAmount) }}
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.order.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.order.items.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    orderItems
                ]
            }]
        },
        {
            'title': 'marello.order.sections.addresses'|trans,
            'class': 'active',
            'subblocks': [
                {
                    'title': 'marello.order.billing_address.label'|trans,
                    'data': [
                        billingAddress
                    ]
                },
                {
                    'title': 'marello.order.shipping_address.label'|trans,
                    'data': [
                        shippingAddress
                    ]
                }
            ]
        },
        {
            'title': 'marello.order.sections.payment_information'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    paymentInformation
                ]
            }]
        },
        {
            'title': 'marello.order.sections.shipping_information'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    shippingInformation
                ]
            }]
        }
    ] %}

    {% set additionalData = [] %}
    {% for child in form.children %}
        {% if child.vars.extra_field is defined and child.vars.extra_field %}
            {% set additionalData = additionalData|merge([form_row(child)]) %}
        {% endif %}
    {% endfor %}

    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'marello.order.sections.additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
