{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%id%": entity.orderNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_order_order_index'),
    'indexLabel': 'marello.order.entity_plural_label'|trans,
    'entityTitle': entity.orderNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-order-view' %}
    {% set generalSubblocks = [] %}
    {% set customerInformation %}
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ 'marello.order.datablock.customer_information'|trans }}</span>
            </div>
            {% if entity.customer and entity.customer.company %}
                {{ UI.renderHtmlProperty(
                'marello.customer.company.entity_label'|trans,
                UI.entityViewLink(entity.customer.company, entity.customer.company.name, 'marello_customer_company_view')
                ) }}
            {% endif %}
            {% if entity.customer %}
                {{ UI.renderHtmlProperty(
                'marello.customer.entity_label'|trans,
                UI.entityViewLink(entity.customer, entity.customer|oro_format_name, 'marello_customer_view')
                )}}
                {{ UI.renderProperty('marello.customer.email.label'|trans, entity.customer.email) }}
            {% endif %}
        </div>
    {% endset %}

    {% set sourceReferences %}
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ 'marello.order.datablock.source_references_information'|trans }}</span>
            </div>
            {{ UI.renderProperty('marello.order.order_reference.label'|trans, entity.orderReference) }}
            {{ UI.renderProperty('marello.order.invoice_reference.label'|trans, entity.invoiceReference) }}
            {{ UI.renderProperty('marello.order.shipping_method_reference.label'|trans, entity.shippingMethodReference) }}
        </div>
    {% endset %}

    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.order.datablock.order_information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.order.order_number.label'|trans, entity.orderNumber) }}
                        {{ UI.renderProperty('marello.order.purchase_date.label'|trans, entity.purchaseDate|oro_format_datetime) }}

                        {% set steps = marello_core_get_current_workflow_steps(entity) %}
                        {% for stepLabel, stepName in steps %}
                            {{ UI.renderProperty( stepLabel|trans({}, "workflows"), stepName|trans({}, "workflows") ) }}
                        {% endfor %}

                        {% if entity.salesChannel %}
                            {{ UI.renderHtmlProperty(
                                'marello.order.sales_channel.label'|trans,
                                UI.entityViewLink(entity.salesChannel, entity.salesChannelName, 'marello_sales_saleschannel_view')
                            )}}
                        {% else %}
                            {{ UI.renderProperty('marello.order.sales_channel.label'|trans, entity.salesChannelName) }}
                        {% endif %}
                        {{ UI.renderProperty('marello.order.localization.label'|trans, entity.localization) }}
                    </div>
                    {{ customerInformation }}
                    {{ sourceReferences }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set totalsWidget %}
        <div class="responsive-block">
            <div class="order-totals-wrapper">
                <div class="box-type1">
                    <div class="title">
                        <span class="widget-title">{{ 'marello.order.datablock.order_totals'|trans }}</span>
                    </div>
                    {{ UI.renderProperty('marello.order.subtotal.label'|trans, entity.subtotal|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.order.shipping_amount_incl_tax.label'|trans, entity.shippingAmountInclTax|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.order.total_tax.label'|trans, entity.totalTax|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.order.discount_amount.label'|trans, entity.discountAmount|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.order.grand_total.label'|trans, entity.grandTotal|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.invoice.total_paid.label'|trans, marello_get_order_total_paid(entity)|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.invoice.total_due.label'|trans, marello_get_order_total_due(entity)|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.order.coupon_code.label'|trans, entity.couponCode) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [totalsWidget] }]) %}

    {% set billingSubblocks = [] %}
    {% set billingAddressWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_order_order_address', {id: entity.billingAddress.id, typeId: 1}),
        }) }}
    {% endset %}
    {% set billingSubblocks = billingSubblocks|merge([{'data' : [billingAddressWidget] }]) %}

    {% set emptyWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                </div>
            </div>
        </div>
    {% endset %}
    {% set billingSubblocks = billingSubblocks|merge([{'data' : [emptyWidget] }]) %}

    {% set shippingSubblocks = [] %}
    {% set shippingAddressWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_order_order_address', {id: entity.shippingAddress.id, typeId: 2}),
        }) }}
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingAddressWidget] }]) %}

    {% set shippingWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.order.shipping_method.label'|trans, marello_shipping_method_with_type_label(entity.shippingMethod, entity.shippingMethodType)|trans) }}
                    {{ UI.renderProperty('marello.order.shipping_amount_incl_tax.label'|trans, entity.shippingAmountInclTax|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderHtmlProperty('marello.order.shipping_method_details.label'|trans, entity.shippingMethodDetails|nl2br) }}
                    {{ UI.renderProperty(
                        'marello.shipping.shipment.shipping_service.label'|trans,
                        entity.shipment and entity.shipment.shippingService
                            ? entity.shipment.shippingService
                            : 'oro.ui.empty'|trans
                    ) }}
                    {{ UI.renderHtmlProperty(
                        'marello.shipping.shipment.shipping_label.label'|trans,
                        entity.shipment and entity.shipment.base64EncodedLabel
                            ? UI.renderUrl(
                                path('marello_order_shipment_label_download', {'id': entity.id}),
                                'oro.translation.action.download'|trans,
                                null,
                                null,
                                {'target': '_blank'}
                            )
                            : 'oro.ui.empty'|trans
                    ) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingWidget] }]) %}

    {% set items %}
        {{ dataGrid.renderGrid('marello-order-items', {'orderId': entity.id}) }}
    {% endset %}

    {% set packingSlips %}
        {{ dataGrid.renderGrid('marello-order-packingslips', {'orderId': entity.id}) }}
    {% endset %}

    {% set invoices %}
        {{ dataGrid.renderGrid('marello-order-invoices-grid', {'orderId': entity.id}) }}
    {% endset %}

    {% set payments %}
        {{ dataGrid.renderGrid('marello-order-payments-grid', {'orderId': entity.id}) }}
    {% endset %}

    {% set optionalWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.order.delivery_date.label'|trans, entity.deliveryDate|oro_format_datetime) }}
                    {{ UI.renderProperty('marello.order.po_number.label'|trans, entity.poNumber) }}
                    {{ UI.renderProperty('marello.order.order_note.label'|trans, entity.orderNote) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.order.datablock.general'|trans,
            'class': 'active',
            'priority' : 10,
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.order.datablock.billing_address'|trans,
            'class': 'active',
            'priority' : 20,
            'subblocks': billingSubblocks
        },
        {
            'title': 'marello.order.datablock.delivery'|trans,
            'class': 'active',
            'priority' : 30,
            'subblocks': shippingSubblocks
        },
        {
            'title': 'marello.order.datablock.order_items'|trans,
            'class': 'active',
            'priority' : 40,
            'subblocks': [
                { 'data' : [items] }
            ]
        },
        {
            'title': 'marello.order.datablock.invoices'|trans,
            'class': 'active',
            'priority' : 50,
            'subblocks': [
                { 'data' : [invoices] }
            ]
        },
        {
            'title': 'marello.order.datablock.payments'|trans,
            'class': 'active',
            'priority' : 60,
            'subblocks': [
                { 'data' : [payments] }
            ]
        },
        {
            'title': 'marello.order.datablock.packing_slips'|trans,
            'class': 'active',
            'priority' : 70,
            'subblocks': [
                { 'data' : [packingSlips] }
            ]
        },
        {
            'title': 'marello.order.datablock.optional'|trans,
            'class': 'active',
            'priority' : 80,
            'subblocks': [
                { 'data' : [optionalWidget] }
            ]
        }
    ] %}

    {% set additionalData %}
        {{ entityConfig.renderDynamicFields(entity) }}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.order.sections.additional'|trans,
        'priority' : 90,
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                additionalData
            ]
        }]
    }]) %}

    {%- set additionalInfoPlaceholders = marello_get_additional_placeholder_data('order') -%}
    {% for additionalInfo in additionalInfoPlaceholders %}
        {% set orderAdditionalInfoSection %}
            {% set placeholderName = additionalInfo.placeholder %}
            {% placeholder placeholderName with {'order': entity} %}
        {% endset %}
        {% if orderAdditionalInfoSection|trim is not empty %}
            {% set dataBlocks = dataBlocks|merge([
                {
                    'title': additionalInfo.label|trans,
                    'class': 'active',
                    'priority' : 100,
                    'subblocks': [
                        { 'data': [orderAdditionalInfoSection] }
                    ]
                }
            ]) %}
        {% endif %}
    {% endfor %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
