{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'MarelloSubscriptionBundle:Subscription:macros.html.twig' as SM %}

{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% if form.vars.value.id %}
    {% set formAction = path('marello_subscription_update', { 'id': form.vars.value.id }) %}
    {% oro_title_set({params : {"%id%": entity.id }}) %}
{% else %}
    {% set formAction = path('marello_subscription_create') %}
{% endif %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_subscription_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('marello_subscription_index'),
        'indexLabel': 'marello.subscription.entity_plural_label'|trans,
        'entityTitle': form.vars.value.id
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.subscription.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% set pageComponent = {
    module: 'marellolayout/js/app/components/form-changes-component',
    options: {
    route: 'marello_subscription_form_changes',
    prefix: 'subscription',
    routeParams: {id: entity.id|default(0)}
    }
} %}

{% block content_data %}
    {% set id = 'marello-subscription-create' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div data-page-component-module="marellosubscription/js/app/components/customer-selection-component">
                            {{ form_row(form.customer) }}
                        </div>
                        {{ form_row(form.salesChannel) }}
                        {{ form_row(form.startDate) }}
                        {{ form_row(form.duration) }}
                        {{ form_row(form.terminationDate) }}
                        {{ form_row(form.terminationNoticePeriod) }}
                        {{ form_row(form.cancelBeforeDuration) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set billingInformation %}
        {% if form.billingAddress.customerAddress is defined %}
            {% set idAddressBlock = '#' ~ form.billingAddress.customerAddress.vars.id %}
        {% else %}
            {% set idAddressBlock = null %}
        {% endif %}
        <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'marellosubscription/js/app/views/subscription-address-view',
                    type: 'billing',
                    selectors: {
                        address: idAddressBlock
                    }
                }|json_encode }}"
                data-layout="separate">
            {{ form_widget(form.billingAddress) }}
        </div>
        <br><br>
        <div data-layout="separate">
            {{ form_row(form.renewalType) }}
            {{ form_row(form.paymentMethod) }}
            {{ form_row(form.paymentFreq) }}
        </div>
    {% endset %}
    {% set shippingInformation %}
        {% if form.shippingAddress.customerAddress is defined %}
            {% set idAddressBlock = '#' ~ form.shippingAddress.customerAddress.vars.id %}
        {% else %}
            {% set idAddressBlock = null %}
        {% endif %}
        <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'marellosubscription/js/app/views/subscription-address-view',
                    type: 'shipping',
                    selectors: {
                        address: idAddressBlock,
                        subtotalsFields: [
                        '#' ~ form.shippingAddress.country.vars.id,
                        '#' ~ form.shippingAddress.region.vars.id,
                        '#' ~ form.shippingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}"
                data-layout="separate">
            {{ form_widget(form.shippingAddress) }}
        </div>
        <br><br>
        <div class="possible-shipping-methods-info">
            {{ UI.renderAttribute('marello.order.form.shipping_options.label'|trans,
            '<div class="possible_shipping_methods_container">' ~ SM.renderPossibleShippingMethods(form, entity) ~ '</div>'
            ) }}
        </div>
    {% endset %}
    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ form_row(form.item) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.subscription.sections.general.label'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.subscription.sections.items.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    items
                ]
            }]
        },
        {
            'title': 'marello.subscription.sections.billing_information.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    billingInformation
                ]
            }]
        },
        {
            'title': 'marello.subscription.sections.shipping_information.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    shippingInformation
                ]
            }]
        }
    ] %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
