{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%id%": entity.subscriptionNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_subscription_index'),
    'indexLabel': 'marello.subscription.entity_plural_label'|trans,
    'entityTitle': entity.subscriptionNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
{% endblock navButtons %}

{% block content_data %}
    {% set id = 'marello-subscription-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.subscription.datablock.general_information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.subscription.sales_channel.label'|trans, entity.salesChannel|default(entity.salesChannel.name)) }}
                        {{ UI.renderProperty('marello.subscription.start_date.label'|trans, entity.startDate|oro_format_datetime) }}
                        {{ UI.renderProperty('marello.subscription.duration.label'|trans, entity.duration) }}
                        {{ UI.renderProperty('marello.subscription.termination_date.label'|trans, entity.terminationDate|oro_format_datetime) }}
                        {{ UI.renderProperty('marello.subscription.termination_notice_period.label'|trans, entity.terminationNoticePeriod) }}
                        {{ UI.renderProperty('marello.subscription.cancel_before_duration.label'|trans, entity.cancelBeforeDuration ? 'marello.core.yes.label'|trans : 'marello.core.no.label'|trans) }}
                        {{ UI.renderProperty('marello.subscription.renewal_type.label'|trans, entity.renewalType) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set customerInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.subscription.datablock.customer_information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.customer.email.label'|trans, entity.customer.email) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [customerInformation] }]) %}

    {% set paymentSubblocks = [] %}
    {% set billingAddressWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_subscription_address', {id: entity.billingAddress.id, typeId: 1}),
        }) }}
    {% endset %}
    {% set paymentSubblocks = paymentSubblocks|merge([{'data' : [billingAddressWidget] }]) %}

    {% set paymentWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.subscription.payment_method.label'|trans, entity.paymentMethod) }}
                    {{ UI.renderProperty('marello.subscription.payment_freq.label'|trans, format_payment_freq(entity.paymentFreq)) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set paymentSubblocks = paymentSubblocks|merge([{'data' : [paymentWidget] }]) %}

    {% set shippingSubblocks = [] %}
    {% set shippingAddressWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_subscription_address', {id: entity.shippingAddress.id, typeId: 2}),
        }) }}
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingAddressWidget] }]) %}

    {% set shippingWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.subscription.shipping_method.label'|trans, marello_shipping_method_with_type_label(entity.shippingMethod, entity.shippingMethodType)|trans) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set shippingSubblocks = shippingSubblocks|merge([{'data' : [shippingWidget] }]) %}

    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-subscription-items-grid', {'subscriptionId': entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.subscription.sections.general.label'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.subscription.sections.items.label'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        },
        {
            'title': 'marello.subscription.sections.billing_information.label'|trans,
            'class': 'active',
            'subblocks': paymentSubblocks
        },
        {
            'title': 'marello.subscription.sections.shipping_information.label'|trans,
            'class': 'active',
            'subblocks': shippingSubblocks
        }
    ] %}


    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
