{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%label%": entity.labels|localized_value } }) %}
{% set gridName  = 'marello-paymentterm-grid' %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_paymentterm_paymentterm_index'),
        'indexLabel':  'marello.paymentterm.entity_plural_label'|trans,
        'entityTitle': (entity.labels|localized_value)|default('N/A')
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-paymentterm-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderProperty('marello.paymentterm.labels.label'|trans, entity.labels|localized_value) }}
                        {{ UI.renderProperty('marello.paymentterm.code.label'|trans, entity.code) }}
                        {{ UI.renderProperty('marello.paymentterm.term.label'|trans, 'marello.payment_term.ui.payment_term.term_days'|trans({'%days%': entity.term})) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}
    {% set dataBlocks = [{
        'title': 'General'|trans,
        'subblocks': generalSubblocks
    }] %}

    {% set additionalData %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ entityConfig.renderDynamicFields(entity) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.payment_term.payment_term.sections.additional'|trans,
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                additionalData
            ]
        }]
    }]) %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
