{% extends '@OroAction/Operation/form.html.twig' %}

{% block form %}
    {% set buttonOptions = operation.definition.buttonOptions %}
    <div class="widget-content">
        {{ form_start(form, {'action': app.request.uri, 'attr': {'id': form.vars.id, 'data-collect': 'true', 'class': 'form-dialog'}}) }}
        <div class="form-horizontal">
            {{ form_row(form.payment_method) }}
            {{ form_row(form.payment_date) }}
            {{ form_row(form.payment_reference) }}
            {{ form_row(form.payment_details) }}
            {{ form_row(form.total_paid) }}
        </div>
        <div class="widget-actions">
            <button class="btn" type="reset">{{ (options.cancelText|default('Cancel'))|trans }}</button>
            <button class="btn btn-success" type="submit">{{ (options.okText|default('Submit'))|trans }}</button>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
