{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

{% oro_title_set({params : {"%id%": entity.packingSlipNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('marello_packing_packingslip_index'),
    'indexLabel': 'marello.packing.packingslip.entity_plural_label'|trans,
    'entityTitle': entity.packingSlipNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-packingslip-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        <div class="title">
                            <span class="widget-title">{{ 'marello.packing.packingslip.datablock.information'|trans }}</span>
                        </div>
                        {{ UI.renderProperty('marello.packing.packingslip.packing_slip_number.label'|trans, entity.packingSlipNumber) }}
                        {{ UI.renderProperty('marello.packing.packingslip.order.label'|trans, entity.order.orderNumber) }}
                        {{ UI.renderProperty('marello.packing.packingslip.sales_channel.label'|trans, entity.salesChannel) }}
                        {{ UI.renderProperty('marello.packing.packingslip.warehouse.label'|trans, entity.warehouse) }}
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('marello_order_order_address', {id: entity.billingAddress.id, typeId: 1}),
                        }) }}
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('marello_order_order_address', {id: entity.shippingAddress.id, typeId: 2}),
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}
    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-packingslip-items', {id: entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}

    {% set dataBlocks = [
        {
            'title': 'marello.packing.packingslip.datablock.general'|trans,
            'class': 'active',
            'subblocks': generalSubblocks
        },
        {
            'title': 'marello.packing.packingslip.datablock.items'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        }
    ] %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
