{% macro marello_servicepointfacility_businesshours_form_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% if widget.vars.disallow_delete is defined and widget.vars.disallow_delete %}
            {% set allow_delete = false %}
        {% else %}
            {% set allow_delete = widget.parent.vars.allow_delete %}
        {% endif %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}

    {% set page_component_options = { 'disabled': not allow_delete } %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="marello-line-item"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {view: 'marelloservicepoint/js/app/views/servicepointfacility-businesshour-view'}|json_encode }}"
        data-layout="separate"
    >
        {{ form_widget(form) }}
        {% if allow_delete %}
            <td class="businesshours-line-item-remove marello-line-item-remove">
                <button type="button" class="businesshours-remove-line-item btn icons-holder"><i class="fa-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block time_period_widget %}
    <td class="businesshours-line-item-dayofweek">
        <div class="fields-row">
            {{ form_widget(form.dayOfWeek) }}
        </div>
        {{ form_errors(form.dayOfWeek) }}
    </td>
    <td class="businesshours-line-item-opentime">
        <div class="fields-row">
            {{ form_widget(form.openTime) }}
        </div>
        {{ form_errors(form.openTime) }}
    </td>
    <td class="businesshours-line-item-closetime">
        <div class="fields-row">
            {{ form_widget(form.closeTime) }}
        </div>
        {{ form_errors(form.closeTime) }}
    </td>
{% endblock %}

{% block _service_point_facility_businessHours_widget %}
    {% import _self as formFields %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = formFields.marello_servicepointfacility_businesshours_form_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="businesshours-line-item-dayofweek"><span>{{ 'marello.servicepoint.timeperiod.day_of_week.label'|trans }}</span></th>
                            <th class="businesshours-line-item-opentime"><span>{{ 'marello.servicepoint.timeperiod.open_time.label'|trans }}</span></th>
                            <th class="businesshours-line-item-closetime"><span>{{ 'marello.servicepoint.timeperiod.close_time.label'|trans }}</span></th>
                            {% if form.vars.allow_delete %}
                                <th class="businesshours-row-item-actions"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ formFields.marello_servicepointfacility_businesshours_form_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="#"><i class="fa-plus"></i>{{ form.vars.add_label|default('marello.servicepoint.ui.servicepoint_facility.business_hours.add.label')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
