{% block marello_purchase_order_item_receive_widget %}
    <td class="purchase-order-line-item-product-sku">
        <div class="fields-row">
            {{ form.vars.value.product.sku|default('') }}
        </div>
    </td>
    <td class="purchase-order-line-item-product-name">
        <div class="fields-row">
            {{ form.vars.value.product.name|default('') }}
        </div>
    </td>
    <td class="purchase-order-line-item-product-supplier">
        <div class="fields-row">
            {{ form.vars.value.product.preferredSupplier|default('') }}
        </div>
    </td>
    <td class="purchase-order-line-item-ordered-quantity">
        <div class="fields-row">
            {{ form.vars.value.orderedAmount|default('') }}
        </div>
    </td>
    <td class="purchase-order-line-item-received-quantity">
        <div class="fields-row">
            {{ form.vars.value.receivedAmount|default('') }}
        </div>
    </td>
    <td class="purchase-order-line-item-accepted-quantity">
        <div class="fields-row">
            {{ form_widget(form.accepted_qty, {'attr': {'style': 'width:110px;'}}) }}
        </div>
        {{ form_errors(form.accepted_qty) }}
    </td>
{% endblock %}

{% block marello_purchase_order_item_widget %}
    <td class="purchase-order-line-item-product">
        <div class="fields-row">
            {{ form_widget(form.product) }}
        </div>
        {{ form_errors(form.product) }}
    </td>
    <td class="purchase-order-line-item-ordered-amount">
        <div class="fields-row">
            {{ form_widget(form.orderedAmount) }}
        </div>
        {{ form_errors(form.orderedAmount) }}
    </td>
    <td class="purchase-order-line-item-purchase-price">
        <div class="fields-row">
            {{ form_widget(form.purchasePrice) }}
        </div>
        {{ form_errors(form.purchasePrice) }}
    </td>
    <td class="purchase-order-line-item-row-total">
    </td>
{% endblock %}

{% block marello_purchase_order_item_advice_widget %}
    <td class="purchase-order-line-item-product">
        <div class="fields-row">
            {{ form_widget(form.product) }}
        </div>
        {{ form_errors(form.product) }}
    </td>
    <td class="purchase-order-line-item-ordered-amount">
        <div class="fields-row">
            {{ form_widget(form.orderedAmount) }}
        </div>
        {{ form_errors(form.orderedAmount) }}
    </td>
    <td class="purchase-order-line-item-purchase-price">
        <div class="fields-row">
            {{ form_widget(form.purchasePrice) }}
        </div>
        {{ form_errors(form.purchasePrice) }}
    </td>
    <td class="purchase-order-line-item-row-total">
    </td>
{% endblock %}

{% macro marello_purchase_order_item_receive_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}

    {% if form.vars.value.status != 'complete' and form.vars.value.status != 'closed' %}
    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="return-line-item display-values">
        {{ form_widget(form) }}

        <td class="return-line-item-notifications">
            <span class="error" style="display:none;"><i class="fa-exclamation-triangle"></i></span>
        </td>
    </tr>
    {% endif %}
{% endmacro %}

{% macro marello_purchase_order_item_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = true %}
    {% endif %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="purchase-order-line-item display-values marello-line-item"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {view: 'marellopurchaseorder/js/app/views/purchaseorder-item-view'}|json_encode }}"
        data-layout="separate">
        {{ form_widget(form) }}

        <td class="purchase-order-line-item-notifications">
            <span class="error" style="display:none;">
                <i class="fa-exclamation-triangle"></i>
            </span>
        </td>
        {% if allow_delete %}
            <td class="purchase-order-line-item-remove marello-line-item-remove">
                <button type="button" class="marello-remove-line-item btn icons-holder"><i class="fa-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro marello_purchase_order_item_advice_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = true %}
    {% endif %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="purchase-order-line-item display-values marello-line-item"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {view: 'marellopurchaseorder/js/app/views/purchaseorder-item-view'}|json_encode }}"
        data-layout="separate">
        {{ form_widget(form) }}

        <td class="purchase-order-line-item-notifications">
            <span class="error" style="display:none;">
                <i class="fa-exclamation-triangle"></i>
            </span>
        </td>
        {% if allow_delete %}
            <td class="purchase-order-line-item-remove marello-line-item-remove">
                <button type="button" class="marello-remove-line-item btn icons-holder"><i class="fa-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block marello_purchase_order_item_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_purchase_order_item_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="purchase-order-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                            <th class="purchase-order-line-item-ordered-quantity"><span>{{ 'marello.purchaseorder.purchaseorderitem.order_amount.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-purchase-price"><span>{{ 'marello.purchaseorder.purchaseorderitem.purchase_price.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-row-total"><span>{{ 'marello.purchaseorder.purchaseorderitem.row_total.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-notifications"></th>
                            {% if form.vars.allow_delete %}
                                <th class="purchase-order-row-item-actions"></th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.marello_purchase_order_item_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ form.vars.add_label|default('marello.purchaseorder.form.add_product')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block marello_purchase_order_item_advice_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_purchase_order_item_advice_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="purchase-order-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                            <th class="purchase-order-line-item-ordered-quantity"><span>{{ 'marello.purchaseorder.purchaseorderitem.order_amount.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-purchase-price"><span>{{ 'marello.purchaseorder.purchaseorderitem.purchase_price.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-row-total"><span>{{ 'marello.purchaseorder.purchaseorderitem.row_total.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-notifications"></th>
                            {% if form.vars.allow_delete %}
                                <th class="purchase-order-row-item-actions"></th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.marello_purchase_order_item_advice_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ form.vars.add_label|default('marello.purchaseorder.form.add_product')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block marello_purchase_order_item_receive_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_purchase_order_item_receive_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                {% set completedItems = 0 %}
                {% if form.children|length %}
                    {% for child in form.children %}
                        {%  if child.vars.value.status == 'complete' %}
                            {% set completedItems = completedItems + 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if completedItems != form.children|length %}
                    <table class="grid table-hover table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="purchase-order-line-item-product-sku"><span>{{ 'marello.product.sku.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-product-name"><span>{{ 'marello.product.name.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-product-supplier"><span>{{ 'marello.supplier.entity_label'|trans }}</span></th>
                            <th class="purchase-order-line-item-ordered-quantity"><span>{{ 'marello.purchaseorder.purchaseorderitem.order_amount.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-received-quantity"><span>{{ 'marello.purchaseorder.purchaseorderitem.received_amount.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-accepted-quantity"><span>{{ 'marello.purchaseorder.purchaseorderitem.accepted_qty.label'|trans }}</span></th>
                            <th class="purchase-order-line-item-notifications"></th>
                        </tr>
                        </thead>
                        <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                        {% if form.children|length %}
                            {% for child in form.children %}
                                {{ _self.marello_purchase_order_item_receive_collection_item_prototype(child) }}
                            {% endfor %}
                        {% elseif show_form_when_empty and prototype_html is defined %}
                            {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="widget-actions">
                        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
                        <button type="submit" class="btn btn-success">{{ 'Submit'|trans }}</button>
                    </div>
                {% else %}
                    <div class="container-fluid accordion">
                        <div class="no-data">
                            <span>{{ 'marello.purchaseorder.all_items_have_been_received'|trans }}</span>
                        </div>
                    </div>
                    <div class="widget-actions">
                        <button type="reset" class="btn">{{ 'Close'|trans }}</button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_multiple_entity_widget %}
    {{ form_widget(form) }}

    <div id="{{ id }}-container"></div>

    <script type="text/javascript">
        require(['jquery',
                'marellopurchaseorder/js/multiple-entity', 'oroform/js/multiple-entity/collection', 'oroform/js/multiple-entity/model',
                'text!{{ asset('bundles/marellopurchaseorder/js/multiple-entity/templates/multiple-entities.html') }}',
                'text!{{ asset('bundles/marellopurchaseorder/js/multiple-entity/templates/multiple-entity.html') }}'
            ],
            function($, MultipleEntity, MultipleEntityCollection, MultipleEntityModel, EntitiesTpl, EntityTpl) {
                {% set selectionUrl = null %}
                {% set originalFieldId = attr['data-ftid'] %}
                {% if form.vars.grid_url is defined and form.vars.grid_url %}
                {% set selectionUrl = form.vars.grid_url %}
                {% elseif form.vars.selection_url is defined and form.vars.selection_url %}
                {% set selectionUrl = form.vars.selection_url %}
                {% endif %}
                {% set selectionRouteName = form.vars.selection_route|default(null) %}
                {% set selectionRouteParameters = form.vars.selection_route_parameters|default({}) %}

                var widget = new MultipleEntity({
                    el: '#{{ id }}-container',
                    template: EntitiesTpl,
                    elementTemplate: EntityTpl,
                    addedElement: 'input[data-ftid="{{ originalFieldId }}_added"]',
                    removedElement: 'input[data-ftid="{{ originalFieldId }}_removed"]',
                    name: {{ id|json_encode|raw }},
                    defaultElement: {{ form.vars.default_element|json_encode|raw }},
                    selectionUrl: {{ selectionUrl|json_encode|raw }},
                    selectionRouteName: {{ selectionRouteName|json_encode|raw }},
                    selectionRouteParams: {{ selectionRouteParameters|json_encode(constant('JSON_FORCE_OBJECT'))|raw }},
                    allowAction: {{ form.vars.allow_action|json_encode|raw }},
                    collection: new MultipleEntityCollection(),
                    selectorWindowTitle: {{ form.vars.selector_window_title|trans|json_encode|raw }}
                });

                {% if form.vars.extra_config is defined and form.vars.extra_config %}
                {{ block('oro_multiple_entity_js_' ~ form.vars.extra_config) }}
                {% endif %}
            });
    </script>
{% endblock %}
