{% block marello_product_form_widget %}
    <td class="variant-line-item-name">
        <div class="fields-row">
            {{ form_widget(form.name) }}
        </div>
        {{ form_errors(form.name) }}
    </td>
    <td class="variant-line-item-sku">
        <div class="fields-row">
            {{ form_widget(form.sku) }}
        </div>
        {{ form_errors(form.sku) }}
    </td>
    <td class="variant-line-item-status">
        <div class="fields-row">
            {{ form_widget(form.status) }}
        </div>
        {{ form_errors(form.status) }}
    </td>
{% endblock %}

{% macro marello_product_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% if widget.vars.disallow_delete is defined and widget.vars.disallow_delete %}
            {% set allow_delete = false %}
        {% else %}
            {% set allow_delete = widget.parent.vars.allow_delete %}
        {% endif %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}
    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="marello-line-item"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {view: 'marellolayout/js/app/views/abstract-item-view'}|json_encode }}">
        {{ form_widget(form, {disabled: disabled}) }}
        {% if allow_delete %}
            <td class="variant-line-item-remove marello-line-item-remove">
                <button type="button" class="marello-remove-line-item btn icons-holder"><i class="fa-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block marello_product_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_product_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="variant-line-item-name"><span>{{ 'marello.product.name.label'|trans }}</span></th>
                        <th class="variant-line-item-sku"><span>{{ 'marello.product.sku.label'|trans }}</span></th>
                        <th class="variant-line-item-status"><span>{{ 'marello.product.status.label'|trans }}</span></th>
                        {% if form.vars.allow_delete %}
                            <th class="variant-row-item-actions"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.marello_product_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ form.vars.add_label|default('marello.product.form.add_variant')|trans }}</a>
            {% endif %}
        </div>
        {% if handle_primary and (prototype is not defined or prototype.primary is defined) %}
            {{ _self.oro_collection_validate_primary_js(_context) }}
        {% endif %}
    {% endspaceless %}
{% endblock %}
