{% import '@OroUI/macros.html.twig' as UI %}
{% import '@MarelloAddress/macros.html.twig' as address %}
{% set label = 'marello.order.'~ addressType ~'_address.label' %}
<div class="widget-content" {{ UI.renderPageComponentAttributes({
    module: 'marelloaddress/js/app/components/address-component',
    options: {
        wid: app.request.get('_wid'),
        el: '#order-address-' ~ orderAddress.id,
        addressId: orderAddress.id,
        addressUpdateRoute: {
            route: 'marello_order_order_updateaddress',
            id: orderAddress.id
        }
    }
}) }}>
    <div class="address-block order-address">
        <div id="order-address-{{ orderAddress.id }}">
            {% if marello_order_order_address is not defined or is_granted(marello_order_order_address) %}
                <div class="address-edit">
                    <button class="btn address-edit-button" id="edit-address-{{ orderAddress.id }}" title="{{ 'marello.order.address.edit_action'|trans }}"><i class="fa-edit hide-text">{{ 'marello.order.address.edit_action'|trans }}</i></button>
                </div>
            {% endif %}
            <address>
                {% if orderAddress.company %}
                    {{ UI.renderProperty('marello.order.address.company.label'|trans, orderAddress.company) }}
                {% endif %}
                {{ UI.renderHtmlProperty(label|trans, address.renderAddress(orderAddress)) }}
                {{ UI.renderProperty('marello.order.address.phone.label'|trans, orderAddress.phone) }}
            </address>
        </div>
    </div>
</div>
