{% form_theme form with ['OroFormBundle:Form:fields.html.twig', _self] %}
<div class="widget-content">
    <div id="flash-messages">
        {% block messages %}
            <div class="flash-messages-frame">
                <div class="flash-messages-holder"></div>
            </div>
            <script type="text/javascript">
                require(['jquery', 'oroui/js/messenger'],
                        function($, messenger) {
                            {% if app.session.flashbag.peekAll|length > 0 %}
                            $(function() {
                                {% for type, messages in app.session.flashbag.all %}
                                {% for message in messages %}
                                messenger.notificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});
                                {% endfor %}
                                {% endfor %}
                            });
                            {% endif %}
                        });
            </script>
        {% endblock messages %}
    </div>
    {% if saved %}
        <script type="text/javascript">
        require(['oroui/js/widget-manager'],
        function(widgetManager) {
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                widget.trigger('formSave', {{ form.vars.value.id|json_encode|raw }});
            });
        });
        </script>
    {% else %}
        {% if not form.vars.valid and form_errors(form) %}
        <div class="alert alert-error" style="margin:0">
            <div class="message">
                {{ form_errors(form) }}
            </div>
        </div>
        {% endif %}

        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}"
              action="{{path('marello_order_order_updateaddress', { id: form.vars.value.id}) }}"
              method="post" class="form-register form-dialog">
            <fieldset class="form-horizontal">
                {{ form_widget(form) }}
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                </div>
            </fieldset>
        </form>
        {{ oro_form_js_validation(form) }}
    {% endif %}
</div>
