{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroUI/macros.html.twig' as UI %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marelloenterprise_replenishmentorder_index'),
        'indexLabel': 'marelloenterprise.replenishment.replenishmentorder.entity_label'|trans,
        'entityTitle': entity.replOrderNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-replenishment-order-view' %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.repl_order_number.label'|trans, entity.replOrderNumber) }}
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.origin.label'|trans, entity.origin) }}
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.destination.label'|trans, entity.destination) }}
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.execution_date_time.label'|trans, entity.executionDateTime|oro_format_datetime) }}
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.percentage.label'|trans, (entity.percentage/100)|oro_format_percent) }}
                    {{ UI.renderProperty('marelloenterprise.replenishment.replenishmentorder.description.label'|trans, entity.description) }}

                    {% set steps = marello_core_get_current_workflow_steps(entity) %}
                    {% for stepLabel, stepName in steps %}
                        {{ UI.renderProperty( stepLabel|trans({}, "workflows"), stepName|trans({}, "workflows") ) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endset %}
    {% set items %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-replenishment-order-items-grid', {'replOrderId': entity.id}) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        },
        {
            'title': 'marelloenterprise.replenishment.replenishmentorderitem.entity_plural_label'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [items] }
            ]
        }
    ] %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
