<div class="widget-content grid-widget-content">
    {% import '@OroDataGrid/macros.html.twig' as dataGrid %}
    {% set gridName = 'marello-replenishment-products-candidates' %}

    {% set params = {} %}

    {% set params = {
        '_parameters': {
            'data_in':     app.request.get('added') ? app.request.get('added')|split(',') : [],
            'data_not_in': app.request.get('removed') ? app.request.get('removed')|split(','): []
        }
    } %}

    <style type="text/css">
        .grid-widget-content .grid,
        .grid-widget-content .table {
            margin-bottom: 0;
        }
    </style>

    {% block content %}
        {{ dataGrid.renderGrid(gridName, params) }}
        <input type="hidden" name="appendProducts" id="appendProducts" value="{{ app.request.get('added') }}" />
        <input type="hidden" name="removeProducts" id="removeProducts" value="{{ app.request.get('removed') }}" />
    {% endblock %}

    {% import '@OroUI/macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'marelloenterprisereplenishment/js/app/components/replenishment-product-component',
        options: {
            wid: app.request.get('_wid'),
            gridName: gridName,
            addedVal: '#appendProducts',
            removedVal: '#removeProducts',
            columnName: 'hasProduct'
        }
    }) }}></div>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" data-action-name="select">{{ 'Select'|trans }}</button>
    </div>
</div>
