{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% set formAction = entity.id ? path('marello_customer_company_update', {id: entity.id}) : path('marello_customer_company_create') %}

{% oro_title_set({params : {"%companyName%": entity.name|default('N/A'|trans), '%entityName%': 'marello.customer.company.entity_label'|trans} }) %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('marello_customer_company_index')) }}
    {% if is_granted('marello_customer_company_update') %}
        {% set html = '' %}
        {% if is_granted('marello_customer_company_view') %}
            {% set html = UI.saveAndCloseButton({
            'route': 'marello_customer_company_view',
            'params': {'id': '$id'}
            }) %}
        {% endif %}
        {% set html = html ~ UI.saveAndStayButton({
        'route': 'marello_customer_company_update',
        'params': {'id': '$id'}
        }) %}

        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('marello_customer_company_index'),
            'indexLabel': 'marello.customer.company.entity_plural_label'|trans,
            'entityTitle': entity.name|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.customer.company.entity_label'|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-company-edit' %}

    {% set dataBlocks = [{
        'title': 'marello.customer.company.sections.general'|trans,
        'class': 'active',
        'subblocks': [{
        'title': '',
        'data': [
            form_row(form.name),
            form_row(form.companyNumber),
            form_row(form.parent),
            form_row(form.paymentTerm),
            form_row(form.taxIdentificationNumber),
            form_widget(form.appendCustomers, {'id': 'appendCustomers'}),
            form_widget(form.removeCustomers, {'id': 'removeCustomers'}),
        ]
        }]}
    ] %}

    {% if is_granted('marello_customer_company_update') %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'marello.customer.entity_plural_label'|trans,
            'subblocks': [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [dataGrid.renderGrid('marello-company-customers-extend-grid', { company_id: entity.id ? entity.id : 0 }, { cssClass: 'inner-grid' })]
                }
            ]
        }]) %}
    {% endif %}

    {% if is_granted('marello_customer_company_address_update') %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'marello.customer.company.sections.addresses'|trans,
            'subblocks': [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [form_widget(form.addresses)]
                }
            ]
        }]) %}
    {% endif %}

    {% set additionalData = [] %}
    {% for child in form.children %}
        {% if child.vars.extra_field is defined and child.vars.extra_field %}
            {% set additionalData = additionalData|merge([form_row(child)]) %}
        {% endif %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'marello.customer.company.sections.additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    <div class="responsive-form-inner">
        {{ parent() }}
    </div>
{% endblock content_data %}
