{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@MarelloAddress/macros.html.twig' as Address %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%companyName%": entity.name } }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('marello_customer_company_index'),
        'indexLabel': 'marello.customer.company.entity_plural_label'|trans,
        'entityTitle': entity.name|default('N/A'|trans)
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set generalInfo %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.customer.company.name.label'|trans, entity.name) }}
                    {{ UI.renderProperty('marello.customer.company.company_number.label'|trans, entity.companyNumber ? entity.companyNumber : 'N/A') }}
                    {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A') }}
                    {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A') }}
                    {% if entity.parent %}
                        {{ UI.renderHtmlProperty(
                        'marello.customer.company.parent.label'|trans,
                        UI.entityViewLink(entity.parent, entity.parent.name, 'marello_customer_company_view')
                        ) }}
                    {% endif %}
                    {%  if entity.paymentTerm %}
                        {{ UI.renderProperty('marello.customer.company.payment_term.label'|trans, entity.paymentTerm.labels|localized_value) }}
                    {% endif %}
                    {{ UI.renderProperty('marello.customer.company.tax_identification_number.label'|trans, entity.taxIdentificationNumber ? entity.taxIdentificationNumber : 'N/A') }}
                    {{ entityConfig.renderDynamicFields(entity) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set addressInfo %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {% for index, address in entity.addresses %}
                        <div class="attribute-item">
                            <div class="attribute-item__description">
                                <b>{{ 'marello.address.marelloaddress.entity_label' | trans ~ '#' ~ (index + 1) }}</b>
                                <br/>
                                {{ Address.renderAddress(address) }}
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [{
        'title': 'marello.customer.company.sections.general'|trans,
        'subblocks': [
            {'data' : [generalInfo]},
            {'data' : [addressInfo]}
        ]
    }] %}

    {% if entity.children.count() %}
        {% set customerTree %}
            <div class="customer-children">
                {{ UI.renderJsTree({
                    'disableSearch': true,
                    'disableActions': true,
                    'treeOptions': {
                        data: treeData
                    }
                }) }}
            </div>
        {% endset %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'marello.customer.company.children.label'|trans,
            'subblocks': [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [customerTree]
                }
            ]
        }]) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
    'title' : 'marello.customer.entity_plural_label'|trans,
        'subblocks': [
            {
                'title' : null,
                'useSpan': false,
                'data' : [dataGrid.renderGrid('marello-company-customers-grid', { company_and_children_ids: marello_get_company_children_ids(entity.id) }, { cssClass: 'inner-grid' })]
            }
        ]
    }]) %}

    {% set id = 'marello-company-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}

{% block stats %}
    {% set data = oro_ui_scroll_data_before('customer-stats-view', {}, entity) %}
    {% if data.dataBlocks is defined %}
        {% for scrollBlock in data.dataBlocks|oro_sort_by %}
            {% for subblock in scrollBlock.subblocks %}
                {% for dataBlock in subblock.data %}
                    {{ dataBlock|raw }}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock stats %}
