{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@MarelloAddress/macros.html.twig' as Address %}

{% oro_title_set({params : {"%entity_label%": 'marello.inventory.allocation.entity_label'|trans,"%id%": entity.allocationNumber }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_inventory_allocation_index'),
        'indexLabel':  'marello.inventory.allocation.entity_label'|trans,
        'entityTitle': entity.allocationNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-inventory-allocation-draft-view' %}

    {% set generalWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.inventory.warehouse.entity_label'|trans, entity.warehouse.label) }}
                    {% if entity.sourceEntity %}
                        {{ UI.renderHtmlProperty(
                            'marello.inventory.allocation.source_entity.label'|trans,
                            UI.entityViewLink(entity.sourceEntity, entity.sourceEntity.allocationNumber, 'marello_inventory_allocation_view')
                        )}}
                    {% endif %}
                    {% if entity.parent %}
                        {{ UI.renderHtmlProperty(
                            'marello.inventory.allocation.parent.label'|trans,
                            UI.entityViewLink(entity.parent, entity.parent.allocationNumber, 'marello_inventory_allocation_view')
                        )}}
                    {% endif %}
                    <div class="attribute-item">
                        <div class="attribute-item__term">{{'marello.address.marelloaddress.entity_label'|trans}}</div>
                        <div class="attribute-item__description">
                            {{ Address.renderAddress(entity.shippingAddress) }}
                        </div>
                    </div>
                    {{ UI.renderProperty('marello.inventory.allocation.state.label'|trans, entity.state) }}
                    {{ UI.renderProperty('marello.inventory.allocation.status.label'|trans, entity.status) }}
                    {{ UI.renderProperty('marello.inventory.allocation.allocation_context.label'|trans, entity.allocationContext, null, null, {tooltipHTML: UI.tooltip('marello.inventory.allocation.tooltip.context'|trans({}, 'tooltips'))}) }}
                    {% if entity.allocationContext is not null
                        and entity.allocationContext.id == constant('Marello\\Bundle\\InventoryBundle\\Provider\\AllocationContextInterface::ALLOCATION_CONTEXT_RESHIPMENT')
                    %}
                        {{ UI.renderProperty('marello.inventory.allocation.reshipment_reason.label'|trans, entity.reshipmentReason.name) }}
                    {% endif %}
                </div>
                <div class="responsive-block">
                    {{ UI.renderHtmlProperty(
                        'marello.order.order_number.label'|trans,
                        UI.entityViewLink(entity.order, entity.order.orderNumber, 'marello_order_order_view')
                    )}}
                    {{ UI.renderProperty('marello.order.currency.label'|trans, entity.order.currency) }}
                    {{ UI.renderHtmlProperty(
                        'marello.order.sales_channel.label'|trans,
                        UI.entityViewLink(entity.order.salesChannel, entity.order.salesChannelName, 'marello_sales_saleschannel_view')
                    )}}
                    {{ UI.renderProperty('marello.order.order_reference.label'|trans, entity.order.orderReference) }}
                    {{ UI.renderProperty('marello.order.create_date.label'|trans, entity.order.createdAt|oro_format_datetime) }}
                    {{ UI.renderProperty('marello.order.purchase_date.label'|trans, entity.order.purchaseDate|oro_format_datetime) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set allocationItemsWidget %}
        {{ dataGrid.renderGrid('marello-allocation-items-grid', {'allocationId': entity.id}) }}
    {% endset %}

    {% set infoWidget %}
        {{ dataGrid.renderGrid('marello-allocation-sub-allocation-grid', {'allocationParentId': entity.id}) }}
    {% endset %}

    {% set shippingInfoWidget %}
        {{ dataGrid.renderGrid('marello-shipment-grid', {'shipmentId': entity.shipment is not null ? entity.shipment.id : null}) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.core.ui.sections.general'|trans,
            'useSpan': false,
            'subblocks': [
                { 'data' : [generalWidget] }
            ]
        },
        {
            'title': 'marello.inventory.allocationitem.entity_plural_label'|trans,
            'useSpan': false,
            'subblocks': [
                { 'data' : [allocationItemsWidget] }
            ]
        },
        {
            'title': 'marello.inventory.allocation.children.label'|trans,
            'useSpan': false,
            'subblocks': [
                { 'data' : [infoWidget] }
            ]
        },
        {
            'title': 'marello.shipping.sections.shipments'|trans,
            'useSpan': false,
            'subblocks': [
                { 'data' : [shippingInfoWidget] }
            ]
        }
    ]
    %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
