<span class="title">{{ item.label|trans }}</span>
<h2 class="value">{{ item.value.value|raw }}</h2>
{% if item.value.deviation is defined %}
<div class="deviation">
    <span class="deviation {% if item.value.isPositive is defined %}{% if item.value.isPositive %}positive{% else %}negative{% endif %}{% endif %}">
        {{ item.value.deviation|raw }}
    </span>
</div>
<div class="compare-date-range">
    <span class="date-range compare-label">
        {{ 'marello.order.dashboard.order_statistics.compare_to.label'|trans }}:
    </span>
    <span class="date-range compare-value">{{ item.value.previousRange }}</span>
</div>
{% endif %}
