<span class="title">{{ item.label|trans }}</span>
<table style="width: 98%; margin: 10px">
    {% for k, val in item.value %}
        {% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
        {% if val.image is not null %}
            {% set productImage = file_url(val.product, 'image', val.image) %}
        {% endif %}
        <tr {% if k is even %} style="background-color: #f1f1f1;" {% endif %}>
            <td style="text-align: center;">
                <img style="height: 25px; width: 25px;" src="{{ asset(val.medal) }}" />
            </td>
            <td>
                <img style="height: 45px; width: 40px;" src="{{ productImage }}" alt="{{ val.name }}" />
            </td>
            <td><a href="{{ path('marello_product_view', {'id': val.id}) }}">{{ val.sku }}</a></td>
            <td>{{ val.name }}</td>
            <td style="width: 88px; text-align: center;">{{ val.quantity }}</td>
        </tr>
    {% endfor %}
</table>