{% import '@MarelloProduct/macros.html.twig' as productMacro %}
{% for key, value in item.value %}
    <div class="oro-datagrid">
        <span class="title"><b>{{ item.label|trans }} ({{ key }})</b></span>
        <table class="hero-products-table">
            {% for k, val in value %}
                {% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
                {% if val.image is not null %}
                    {% set productImage = filtered_image_url(val.image, 'product_grid') %}
                {% endif %}
                <tr {% if k is even %} class="grid-row row-even" {% endif %}>
                    <td class=" string-cell grid-cell grid-body-cell medal">
                        <img src="{{ asset(val.medal) }}" />
                    </td>
                    <td class="string-cell grid-cell grid-body-cell product-image">
                        <div>
                            <img src="{{ productImage }}" alt="{{ val.name }}" />
                        </div>
                    </td>
                    <td class="string-cell grid-cell grid-body-cell">{{ productMacro.renderProductSkuViewLink(val.sku) }}</td>
                    <td class="string-cell grid-cell grid-body-cell">{{ val.name }}</td>
                    <td class="string-cell grid-cell grid-body-cell value">{{ val.revenue|oro_format_currency({'currency': val.currency}) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}