{% import '@MarelloProduct/macros.html.twig' as productMacro %}
<span class="title"><b>{{ item.label|trans }}</b></span>
<div class="oro-datagrid">
    <table class="hero-products-table">
        {% for k, val in item.value %}
            {% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
            {% if val.image is not null %}
                {% set productImage = filtered_image_url(val.image, 'product_grid') %}
            {% endif %}
            <tr {% if k is even %} class="grid-row row-even" {% endif %}>
                <td class="string-cell grid-cell grid-body-cell medal">
                    <img src="{{ asset(val.medal) }}" />
                </td>
                <td class="string-cell grid-cell grid-body-cell product-image">
                    <div>
                        <img src="{{ productImage }}" alt="{{ val.name }}" />
                    </div>
                </td>
                <td class="string-cell grid-cell grid-body-cell">{{ productMacro.renderProductSkuViewLink(val.sku) }}</td>
                <td class="string-cell grid-cell grid-body-cell">{{ val.name }}</td>
                <td class="string-cell grid-cell grid-body-cell value">{{ val.quantity }}</td>
            </tr>
        {% endfor %}
    </table>
</div>