{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% block navButtons %}
    {% if is_granted('marello_payment_update') %}
        {{ UI.editButton({
            'path' : path('marello_payment_update', { id: entity.id }),
            'entity_label': 'marello.payment.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_payment_index'),
        'indexLabel': 'marello.payment.entity_plural_label'|trans,
        'entityTitle': entity.id
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-payment-view' %}
    {% set paymentMethod = marello_get_payment_method_label(entity.paymentMethod)|trans %}
    {% for name, value in entity.paymentMethodOptions %}
        {% if name == 'term' %}
            {% set value = 'marello.payment_term.ui.payment_term.term_days'|trans({'%days%': value }) %}
            {% set name = 'Term' %}
        {% elseif name == 'code' %}
            {% set value = marello_get_payment_term_label_for_code(value) %}
            {% set name = 'Label' %}
        {% endif %}
        {% set paymentMethod = paymentMethod ~ ' <br>' ~ name ~ ': ' ~ value %}
    {% endfor %}
    {% set paymentSource = marello_get_payment_source(entity) %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.payment.status.label'|trans, entity.status) }}
                    {% if paymentSource is not empty %}
                    {{ UI.renderHtmlProperty(
                        'marello.payment.payment_source.label'|trans,
                        UI.entityViewLink(paymentSource, paymentSource.invoiceType ~ ': ' ~ paymentSource.invoiceNumber, 'marello_invoice_invoice_view')
                    )}}
                    {% else %}
                        {{ UI.renderHtmlProperty(
                            'marello.payment.payment_source.label'|trans,
                            'N/A'
                        )}}
                    {% endif %}
                    {{ UI.renderHtmlProperty('marello.payment.payment_method.label'|trans, paymentMethod) }}
                    {{ UI.renderProperty('marello.payment.payment_reference.label'|trans, entity.paymentReference) }}
                    {{ UI.renderProperty('marello.payment.payment_details.label'|trans, entity.paymentDetails) }}
                    {{ UI.renderProperty('marello.payment.total_paid.label'|trans, entity.totalPaid|oro_format_currency({'currency':entity.currency})) }}
                    {{ UI.renderProperty('marello.payment.payment_date.label'|trans, entity.paymentDate|date) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        }
    ] %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
