{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%name%": entity.name } }) %}
{% set gridName  = 'marello-categories-grid' %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_category_index'),
        'indexLabel':  'marello.catalog.category.entity_plural_label'|trans,
        'entityTitle': entity.name|default('N/A')
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-category-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderProperty('marello.catalog.category.name.label'|trans, entity.name) }}
                        {{ UI.renderProperty('marello.catalog.category.code.label'|trans, entity.code) }}
                        {{ UI.renderProperty('marello.catalog.category.description.label'|trans, entity.description) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}
    {% set dataBlocks = [{
        'title': 'General'|trans,
        'subblocks': generalSubblocks
    }] %}

    {% set categoryProductsWidget %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ dataGrid.renderGrid('marello-category-products-grid', {'products': entity.products}) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.product.entity_plural_label'|trans,
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                categoryProductsWidget
            ]
        }]
    }]) %}

    {% set additionalData %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ entityConfig.renderDynamicFields(entity) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.catalog.category.sections.additional'|trans,
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                additionalData
            ]
        }]
    }]) %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
