{% block marello_order_item_widget %}
    <td class="order-line-item-product">
        <div class="fields-row">
            {{ form_widget(form.product) }}
        </div>
        {{ form_errors(form.product) }}
    </td>
    <td class="order-line-item-quantity">
        <div class="fields-row">
            {{ form_widget(form.quantity) }}
        </div>
        {{ form_errors(form.quantity) }}
    </td>
    <td class="order-line-item-quantity order-line-item-inventory">
        <div class="fields-row">
            {{ form_widget(form.availableInventory) }}
        </div>
        {{ form_errors(form.availableInventory) }}
    </td>
    <td class="order-line-item-price">
        <div class="fields-row">
            {{ form_widget(form.price) }}
        </div>
        {{ form_errors(form.price) }}
    </td>
    <td class="order-line-item-tax">
        <div class="fields-row">
            {{ form_widget(form.tax) }}
        </div>
        {{ form_errors(form.tax) }}
    </td>
    <td class="order-line-item-tax order-line-item-tax-code">
        <div class="fields-row">
            {{ form_widget(form.taxCode) }}
        </div>
        {{ form_errors(form.taxCode) }}
    </td>
    <td class="order-line-item-total-price order-line-item-total-price-excl-tax">
        <div class="fields-row">
            {{ form_widget(form.rowTotalExclTax) }}
        </div>
        {{ form_errors(form.rowTotalExclTax) }}
    </td>
    <td class="order-line-item-total-price order-line-item-total-price-incl-tax">
        <div class="fields-row">
            {{ form_widget(form.rowTotalInclTax) }}
        </div>
        {{ form_errors(form.rowTotalInclTax) }}
    </td>
{% endblock %}

{% macro marello_order_item_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% if widget.vars.disallow_delete is defined and widget.vars.disallow_delete %}
            {% set allow_delete = false %}
        {% else %}
            {% set allow_delete = widget.parent.vars.allow_delete %}
        {% endif %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}

    {% set page_component_options = { 'disabled': not allow_delete } %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="marello-line-item display-values"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {view: 'marelloorder/js/app/views/order-item-view'}|json_encode }}"
        data-layout="separate">
        {{ form_widget(form) }}

        <td class="order-line-item-notifications">
            <span class="error" style="display:none;">
                <i class="fa-exclamation-triangle" data-toggle="popover" data-placement="bottom" data-close="false" data-content=""></i>
            </span>
        </td>
        {% if allow_delete %}
            <td class="order-line-item-remove marello-line-item-remove">
                <button type="button" class="marello-remove-line-item btn icons-holder"><i class="fa-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block marello_order_item_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_order_item_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'marello-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="order-line-item-product"><span>{{ 'marello.product.entity_label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'marello.order.orderitem.quantity.label'|trans }}</span></th>
                            <th class="order-line-item-available-inventory"><span>{{ 'marello.order.orderitem.inventory.label'|trans }}</span></th>
                            <th class="order-line-item-price"><span>{{ marello_pricing_vat_aware_label('marello.order.orderitem.price.per_unit.label'|trans) }}</span></th>
                            <th class="order-line-item-tax"><span>{{ 'marello.order.orderitem.tax.label'|trans }}</span></th>
                            <th class="order-line-item-tax-code"><span>{{ 'marello.order.orderitem.tax_code.label'|trans }}</span></th>
                            <th class="order-line-item-total-price-excl-tax"><span>{{ 'marello.order.orderitem.total_price_excl_tax.label'|trans }}</span></th>
                            <th class="order-line-item-total-price-incl-tax"><span>{{ 'marello.order.orderitem.total_price_incl_tax.label'|trans }}</span></th>
                            <th class="order-line-item-notifications"></th>
                            {% if form.vars.allow_delete %}
                                <th class="order-row-item-actions"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.marello_order_item_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn marello-add-line-item" data-container=".marello-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ form.vars.add_label|default('marello.product.form.add_product')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block marello_order_billing_address_widget %}
    {{ block('marello_order_address_widget') }}
{% endblock %}

{% block marello_order_shipping_address_widget %}
    {{ block('marello_order_address_widget') }}
{% endblock %}

{% block marello_order_address_widget %}
    {% if form.parent is not empty %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.customerAddress is defined %}
                {{ form_row(form.customerAddress) }}
            {% endif %}
            {{ form_rest(form) }}
        </div>
    {% else %}
        {% if form.customerAddress is defined %}
            {{ form_row(form.customerAddress) }}
        {% endif %}
        {{ form_rest(form) }}
    {% endif %}
{% endblock %}