{% block marello_order_item_widget %}
    <td>
        {{ form_widget(form.product) }}
    </td>
    <td>
        {{ form_widget(form.quantity) }}
    </td>
    <td>
        {{ form_widget(form.price) }}
    </td>
    <td>
        {{ form_widget(form.tax) }}
    </td>
    <td>
        {{ form_widget(form.totalPrice) }}
    </td>
{% endblock %}

{% macro marello_order_item_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
        {% set allow_add_after = widget.vars.allow_add_after %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
        {% set allow_add_after = widget.parent.vars.allow_add_after %}
    {% endif %}
    <tr data-content="{{ name }}"
        data-validation-optional-group
        class="row-oro oro-multiselect-holder{% if not allow_delete %} not-removable{% endif %}">
        {{ form_widget(form, {disabled: disabled}) }}
        <td>
            {% if allow_delete %}
                <button class="removeRow btn btn-action btn-link" type="button" data-related="{{ name }}">×</button>
            {% endif %}
            {% if allow_add_after %}
                <button class="addAfterRow btn btn-action btn-link" type="button" data-related="{{ name }}">+</button>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% block marello_order_item_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.marello_order_item_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro order-items-table-container">
            {% set prototype_name = form.vars.prototype_name %}
            <table {{ block('widget_container_attributes') }}
                    data-last-index="{{ form.children|length}}"
                    data-prototype-name="{{ prototype_name }}"
                    {% if prototype_html is defined %}data-prototype="{{ prototype_html|escape }}"{% endif %}>
                <thead>
                    <tr>
                        <th>{{ 'marello.product.entity_label'|trans }}</th>
                        <th>{{ 'marello.order.orderitem.quantity.label'|trans }}</th>
                        <th>{{ 'marello.order.orderitem.price.label'|trans }}</th>
                        <th>{{ 'marello.order.orderitem.tax.label'|trans }}</th>
                        <th>{{ 'marello.order.orderitem.total_price.label'|trans }}</th>
                    </tr>
                </thead>
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ _self.marello_order_item_collection_item_prototype(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
            </table>
            {% if allow_add %}
                <a class="btn add-list-item" href="javascript: void(0);"><i class="icon-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
        {% if handle_primary and (prototype is not defined or prototype.primary is defined) %}
            {{ _self.oro_collection_validate_primary_js(_context) }}
        {% endif %}
    {% endspaceless %}
{% endblock %}
