{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set addressForm %}
    {{ form_widget(form.primaryAddress) }}
{% endset %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {{ form_start(form) }}
        <div class="responsive-section responsive-small responsive-section-no-blocks">
            <h4 class="scrollspy-title">{{ 'General'|trans }}</h4>
            <div class="scrollspy-nav-target"></div>
            <div class="row-fluid">
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="responsive-section responsive-small responsive-section-no-blocks">
            <h4 class="scrollspy-title">{{ "marello.order.customer.primary_address.label"|trans }}</h4>
            <div class="scrollspy-nav-target"></div>
            <div class="row-fluid">
                {{ addressForm }}
                <div class="form-row">
                    <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
