{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

{% if form.vars.value.id %}
    {% set formAction = path('marello_refund_update', { 'id': form.vars.value.id }) %}
{% else %}
    {% set formAction = path('marello_refund_create', { 'id': form.vars.value.order.id }) %}
{% endif %}

{% block navButtons %}
    {{ UI.cancelButton(path('marello_refund_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if resource_granted('marello_refund_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('marello_refund_index'),
            'indexLabel': 'marello.refund.entity_plural_label'|trans,
            'entityTitle': form.vars.value.refundNumber
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.refund.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% set additionalItems %}
    <div class="refund-line-items"
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'marellolayout/js/app/views/abstract-items-view',
             prices: prices|default({})
         }|json_encode }}">
        {{ form_widget(form.additionalItems) }}
        {{ form_errors(form.additionalItems) }}
    </div>
{% endset %}

{% block content_data %}
    {% set id = 'refund-edit' %}

    {% set dataBlocks = [
        {
            'title': 'marello.refund.ordered_items.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_widget(form.items),
                ]
            }]
        },
        {
            'title': 'marello.refund.additional_items.label'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    additionalItems,
                ]
            }]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form) ? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock content_data %}
