{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('marello_refund_update', { id: entity.id }),
            'entity_label': 'marello.refund.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_refund_index'),
        'indexLabel': 'marello.refund.entity_plural_label'|trans,
        'entityTitle': entity.refundNumber
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('marello.refund.refund_number_label'|trans, entity.refundNumber) }}
                    {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt|date) }}
                    {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt|date) }}
                    {{ UI.renderProperty('marello.order.payment_method.label'|trans, entity.order.paymentMethod) }}
                    {{ UI.renderProperty('marello.order.payment_reference.label'|trans, entity.order.paymentReference) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set totals %}
        <div class="responsive-block">
            {{ UI.renderProperty('marello.order.grand_total.label'|trans, entity.order.grandTotal|oro_format_currency({'currency':entity.order.currency})) }}
            {{ UI.renderProperty('marello.refund.refund_amount.label'|trans, entity.refundAmount|oro_format_currency({'currency':entity.order.currency})) }}
            {{ UI.renderProperty('marello.refund.refund_amount.label'|trans, entity.refundAmount|oro_format_currency({'currency':entity.order.currency})) }}
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Data'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data, totals] }
            ]
        }
    ] %}

    {% set id = 'refundView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
