{% block website_sales_channel_grid_widget %}
    <table class="grid website_sales_channel_grid table-hover table table-bordered table-condensed">
        <thead>
        <th>{{ 'marello.magebridge.system_configuration.sales_channel.label'|trans }}</th>
        <th>{{ 'marello.magebridge.system_configuration.magento_website.label'|trans }}</th>
        </thead>
        {% for id,name in salesChannelList %}
            <tr data-cid="c{{ id }}">
                <td>
                    <input type="radio" value="{{ id }}"  data-name="salesChannel[]">
                    <label for="channel-{{ id }}"> {{ name | trans }}</label>
                </td>
                <td>
                    <select id="magento-store-{{ id }}" data-width="100%" data-name="magentoWebsite[]"
                    >
                        {% for key,val in magentoStoreList %}
                            <option value={{ key }}>{{ val | trans }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ form_widget(form) }}
{% endblock %}
