{% import 'MarelloShippingBundle:ShippingMethodsConfigsRule:macros.html.twig' as ShipRuleMacro %}

{% spaceless %}
    {% set methodLabel = marello_get_shipping_method_label(methodData.identifier)|trans %}
    {% if methodLabel|length > 0 %}
    <li>{{ methodLabel }}
        <ul>
    {% endif %}
        {% for type in methodData.types %}
        <li>{{ marello_get_shipping_method_type_label(methodData.identifier, type.identifier)|trans }} {{ ShipRuleMacro.renderShippingMethodDisabledFlag(methodData.identifier) }} ({{ 'marello.manual_shipping.method.price.label'|trans }}: {{ type.options['price']|oro_format_currency({'currency': currency}) }}
            {%- if type.options['handling_fee'] is defined and type.options['handling_fee'] is not empty -%}
                , {{ 'marello.manual_shipping.method.handling_fee.label'|trans}}: {{ type.options['handling_fee']|oro_format_currency({'currency': currency}) }}
            {%- endif -%}
            )
        </li>
        {% endfor %}
    {% if methodLabel|length > 0 %}
        </ul>
    </li>
    {% endif %}
{% endspaceless %}
