{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%facility%": entity.facility.labels|localized_value } }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('marello_servicepoint_servicepoint_view', {'id': entity.servicePoint.id}),
        'indexLabel': 'marello.servicepoint.entity_plural_label'|trans,
        'entityTitle': (entity.facility.labels|localized_value)|default('N/A')
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {%-  if is_granted('EDIT', entity) -%}
        {{ UI.editButton({
            'path': path('marello_servicepoint_servicepointfacility_update', { id: entity.id }),
            'entity_label': 'marello.servicepoint.servicepoint_facility.entity_label'|trans
        }) }}
    {%- endif -%}

    {{ parent() }}
{% endblock %}

{% block content_data %}
    {% set id = 'marello-servicepointfacility-view' %}
    {% set generalSubblocks = [] %}
    {% set servicePointData %}
        <a href="{{ path('marello_servicepoint_servicepoint_view', {'id': entity.servicePoint.id}) }}">{{ entity.servicePoint.labels|localized_value }}</a>
    {% endset %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderHtmlProperty('marello.servicepoint.servicepoint_facility.service_point.label'|trans, servicePointData) }}
                        {{ UI.renderProperty('marello.servicepoint.servicepoint_facility.facility.label'|trans, entity.facility.labels|localized_value) }}
                        {{ UI.renderProperty('marello.servicepoint.servicepoint_facility.phone.label'|trans, entity.phone) }}
                        {{ UI.renderProperty('marello.servicepoint.servicepoint_facility.email.label'|trans, entity.email) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set generalSubblocks = generalSubblocks|merge([{'data' : [generalInformation] }]) %}
    {% set dataBlocks = [{
        'title': 'General'|trans,
        'subblocks': generalSubblocks
    }] %}

    {% set businessHoursData %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_servicepoint_servicepointfacility_businesshours', {id: entity.id}),
            'title': 'marello.servicepoint.servicepoint_facility.business_hours.label'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'marello.servicepoint.servicepoint_facility.business_hours.label'|trans,
        'subblocks': [{
            'title': null,
            'useSpan': false,
            'data': [
                businessHoursData
            ]
        }]
    }]) %}

    {% set businessHoursOverridesData %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('marello_servicepoint_servicepointfacility_businesshoursoverrides', {id: entity.id}),
            'title': 'marello.servicepoint.servicepoint_facility.business_hours_overrides.label'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'marello.servicepoint.servicepoint_facility.business_hours_overrides.label'|trans,
        'subblocks': [{
            'title': null,
            'useSpan': false,
            'data': [
                businessHoursOverridesData
            ]
        }]
    }]) %}

    {% set additionalData %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ entityConfig.renderDynamicFields(entity) }}
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'marello.servicepoint.ui.servicepoint_facility.sections.additional'|trans,
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [
                additionalData
            ]
        }]
    }]) %}

    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
