@name = pdf_marello_order_shipping_prepared_warehouse
@description = Pdf that contains the UPS Standard tracking number.
@entityName = Marello\Bundle\OrderBundle\Entity\Order
@isSystem = 0
@isEditable = 1
@unit = mm
@marginleft = 10
@marginright = 10
@margintop = 10
@marginbottom = 10
@autobreak = 1
@format = A4
@orientation = P


<img src="data:image/gif;base64,{{ entity.shipment.base64EncodedLabel }}" />

<b>First title goes here</b><br>
Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in

<br>
<b>Second title goes here</b><br>
Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60

<br>
<b>Third title goes here</b><br>
de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar

<br>
<b>Fourth title goes here</b><br>
de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die
www.google.com
lallalal@email.com

<br>

<p style="page-break-after:always;"></p>

<br>

<table>
    <tr class="order-information">
        <td>
            <table style="border: 1px solid #99caff;" cellspacing="5" cellpadding="15" border="0">
                <thead>
                <tr>
                    <td style="background-color: #e6f2ff;" class="items-details">
                        <h3 style="font-size: 12px; color: #0066cc;">Product Name:</h3>
                    </td>
                    <td style="background-color: #e6f2ff;" class="items-details">
                        <h3 style="font-size: 12px; color: #0066cc;">Product SKU:</h3>
                    </td>
                    <td style="background-color: #e6f2ff;" class="items-details">
                        <h3 style="font-size: 12px; color: #0066cc;">Quantity:</h3>
                    </td>
                    <td style="background-color: #e6f2ff;" class="items-details">
                        <h3 style="font-size: 12px; color: #0066cc;">Total Price:</h3>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for item in entity.items %}
                    <tr>
                        <td>
                            <p><span class="no-link">{{ item.productName }}</span></p>
                        </td>
                        <td>
                            <p><span class="no-link">{{ item.productSku }}</span></p>
                        </td>
                        <td>
                            <p><span class="no-link">{{ item.quantity }}</span></p>
                        </td>
                        <td>
                            <p><span class="no-link">{{ item.totalPrice }}</span></p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>